body {
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.2px;
  font-size: 14px;
  background: #f7f7f7;
}
.nopadding { padding: 0px; }
.padding-right-0 { padding-right: 0px; }
.padding-left-0 { padding-left: 0px; }
.margin0 { margin: 0px; }
.white-nine { background: #d9d9d9; }
.rougeBack { background: #981937; }
.rougeColor { color: #981937; }
.warm-greyColor { color: #888888; }
.spacer { height: 25px; }
.form-error { border: solid 1px red; background: rgba(250,0,0,0.1); padding: 10px 5px; margin-bottom: 15px; color: rgba(250,0,0,1); border-radius: 3px; font-size: 11px; }
/* Header Start*/
img[role="back"] { display: none; }
div[role-header] { background: #f5f3e8; }
div[role-nav] { padding: 20px 15px; }
div[role="logo"] img { float: left; }
div[role="logo"] span { display: block; float: left; margin: 13px 0 0 10px; color: #626262; font-size: 12px; }
.buyerProtection { }
.buyerProtection ul { padding: 0px; float: right; margin: 0px; }
.buyerProtection ul li { display: inline-block; margin-left: 5px; padding:5px 0px 5px 25px; font-size: 9px; color: #666666; line-height: 11px; }
.buyerProtection ul li:nth-of-type(1), .buyerProtection ul li:nth-of-type(2) { background:url("../images/bitmap.png") left center no-repeat; border-right: solid 1px #e6ddd4; padding-right: 8px; }
.buyerProtection ul li:nth-of-type(3) { background:url("../images/secure.png") left center no-repeat; }
.buyerProtection ul li strong { font-size: 12px; font-weight: 400; }
/* Header End */

/* Content Start */
.loginProcessContainer { margin: 25px 0px 50px 0px; padding: 0 150px; height: 35px; }
div[role="loginFlow"] { position: relative; height: 100%; }
.circleBox { width: 35px; height: 35px; border-radius: 50%; text-align: center; position: absolute; color: #ffffff; margin: auto; z-index: 99; }
.circleBox span { height: 35px; display: block; }
.circleBox span:nth-of-type(1) img { margin-top: 11px; }
.circleBox span:nth-of-type(1) img[data-complete] { margin-top: 11px; }
.circleBox span:nth-of-type(2) { font-weight: 700; height: 30px; line-height: 30px; }
.LoginIcon { left: 0; }
.ShippingIcon { left: 0; right: 0; }
.ShippingIcon span:nth-of-type(1) img { margin-top: 11px; }
.ShippingIcon span:nth-of-type(2) { width: 60px; margin-left: -13px; }
.PaymentIcon { right: 0; }
.PaymentIcon span:nth-of-type(1) img { margin-top: 13px; }
.PaymentIcon span:nth-of-type(2) { width: 60px; margin-left: -11px; }
.Progressliner { width: 50%; height: 2px; position: absolute; margin: auto; z-index: 80; top: 50%; margin-top: -1px; }
.Firstliner { left: 0; }
.Secoundliner { right: 0; }
/* login Container */
.loginContainer { border: solid 1px red; background: #ffffff; border: solid 1px #ebebeb; margin-bottom: 46px; padding: 30px 100px; }
.socialMedia { padding: 25px 0px 0px 0px; }
.socialMedia a {
    color: #fff;
    display: block;
    margin: 0 auto 20px;
    padding: 15px 20px 14px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.socialMedia a img { margin-right: 10px; }
.socialMedia a:hover { text-decoration: none; }
.socialMedia p { color: #747474; }
.guestBtn { /*width: 215px;*/ width: 100%;  border-radius: 0; background: #f5f3e8; border: solid 1px #e4d2be; color: #981937; font-weight: 700; padding: 12px 20px; font-size: 16px; margin: 15px 0px; }
.guest { margin: 15px 0px; }
a.signup-g { background: #ba3b39 none repeat scroll 0 0; margin-bottom: 0px; }
a.signup-fb { background: #4962ba none repeat scroll 0 0; }

.signinForm { border-right: solid 1px #d8d8d8;}
.signinForm .form-control { border-radius: 0; height: 45px; padding: 4px 15px 6px 15px; color: #9b9b9b; }
 .error input { border: solid 1px #ff0c00; }
.error span { color: #ff0c00; display: block; }
.signinForm h4, .socialMediaContainer h4 { font-weight: 700; font-size: 16px; color: #747474; }
a[role="ForgotPassword"] { color: #981937; }
a[role="ForgotPassword"]:hover { text-decoration: none; }
.newBtn { /*width: 215px;*/ width: 100%;  border-radius: 0; background: #6da40e; color: #ffffff; font-weight: 700; padding: 12px 20px; font-size: 16px; margin-bottom: 15px; }
.newBtn:hover, .newBtn:focus { color: #ffffff; }
.signinForm .checkbox { border-top: solid 1px #e9e9e9; padding-top: 10px; }
.checkbox label { padding: 0px; line-height: 28px; }
.checkbox input { display: none; }
.checkbox input:checked + span { background: url('../images/check-pink.png') center 9px no-repeat #ffffff; }
.checkbox span { border: solid 1px #ebebeb; width: 30px; height: 30px; display: block; float: left; margin-right: 10px; }
.seperator { position: absolute; right: 0; top: 0; bottom: 0; margin: auto; width: 25px; height: 25px; text-align: center; border-radius: 50%; color: #888888; font-size: 12px; line-height: 23px; background: #ffffff; margin-right: -12px; }
.line-divider { width: 100%; height: 2px; background: #e9e9e9; margin: 15px 0px; float: left; border: none; }

.ForgotPasswordContainer { position: fixed; left: 0; top: 0;  width: 100%; height: 100%; z-index: 600; }
div[data-overlay] { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 100; }
.FPcontainer { max-width: 567px; width: 100%; height: 270px; border-radius: 2px; background: #ffffff; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; padding: 15px; }
span[role="close"] { display: block; text-align: right; float: left; width: 100%; }
span[role="close"] a { display: block; width: 15px; height: 15px; float: right; }
span[role="close"] a:focus { outline: none; }
span[role="close"] a img { margin: -11px 0 0 0; }
.FPcontainer h3 { margin: 20px 0px 15px 0px; width: 100%; font-size: 16px; font-weight: 700; color: #4c4c4c; }
.FPcontainer p { padding: 0px; margin-bottom: 20px; }
.FPcontainer input { width: 60%; margin-bottom: 15px; }
.FPcontainer .sendBtn { padding: 15px 25px; background: #9a1938; color: #ffffff; font-weight: 700; font-size: 16px; border-radius: 0; width: 200px; margin: 0px; }

/* login Container */
h4[role="headding"] { color: #747474; font-size: 18px; margin-bottom: 15px; font-weight: 400; }
.shippingContainer h4[role="headding"] { font-size: 16px; margin-bottom: 15px; }
h4[role="headding"] a { text-decoration: none; color: #888888; outline: none; }
h4[role="headding"] small a { color: #981937; font-size: 14px; }
h4[role="headding"] a span { display: none; }
.addressCard { border: solid 1px #e9e9e9; background: #ffffff; padding: 15px; margin-bottom: 15px; cursor: pointer; }
/*.customer-address > div:nth-of-type(1) { width: 15%; }
.customer-address > div:nth-of-type(1) img { margin-top: -4px; visibility: hidden; }
.customer-address > div:nth-of-type(2) { width: 85%; }
*/
.customer-address > div:nth-of-type(2) h5 { margin: 0px 0px 15px 0px; font-weight: 700; font-size: 16px; color: #4c4c4c; }
.customer-address > div:nth-of-type(2) h5 span { }
.customer-address > div:nth-of-type(2) h5 span a { text-align: center; outline: none; padding: 0px 5px; }
.delete-shipping { width: 15px; height: 103px; display: block; }
.delete-shipping a { display: block; text-align: center; height: 100%; padding: 0px !important; }
.customer-address > div:nth-of-type(2) p { color: #888888; font-size: 16px; }
.customer-address .checkbox { margin-bottom: -15px; padding: 5px; text-align: center; border-top: solid 1px #dedede; }
.customer-address .checkbox span { width: 20px; height: 20px; }
.customer-address .checkbox input:checked + span { background-position: center 4px; }
.customer-address .checkbox label { line-height: 22px; font-weight: 400; font-size: 13px; }

.btn-newStyle { border-radius: 0; background: #d2d2d2; color: #fff; font-weight: 700; width: 100%; font-size: 16px; padding: 10px 0px; margin-top: 10px; }
.btn-newStyle:hover { color: #ffffff; }
.outline-btn { border: solid 1px #981937; color: #981937; font-weight: 700; border-radius: 2px; padding: 10px 15px; margin-right: 15px; }
.pincode { width: 30%; }
.Width60 { max-width: 435px; width: 100%; }

.addressCardActive, .addressCard:hover { border: solid 1px #6da40e; }
.addressCardActive .btn-newStyle, .addressCard:hover .btn-newStyle, .btn-newStyleActive { background: #6da40e; }
.addressCardActive > div:nth-of-type(1) img, .addressCard:hover > div:nth-of-type(1) img { visibility: visible; }

.new-address { border: solid 1px #e9e9e9; background: #ffffff; padding: 15px; }
.new-address .form-control { border-radius: 0; font-size: 14px; height: inherit; color: #bababa; padding: 10px; }
.new-address .form-group label { font-size: 16px; color: #4c4c4c; }
.new-address .form-group label a { text-decoration: none; color: #981937; outline: none; font-size: 14px; }

/* Desktop Edit Address Start*/
.addressEditContainer { background: #ffffff; position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 700px; width: 100%; height: 500px; z-index: 101; overflow-x:auto;  }
/* Desktop Edit Address End*/

/* Payment */
.payment-method > div, .item-details > div:nth-of-type(2) { border: solid 1px #ebebeb; background: #ffffff; margin-bottom: 15px; }
.payment-method > div { padding: 15px; }
div[role="items"] { padding: 15px; }
div[role="items"] h5, .order-summary h5 { margin: 3px 0px; font-weight: 700; }
div[role="items"] h5 span { color: #981937; }
div[role="items"] h5 span a { color: #981937; text-decoration: none; font-size: 12px; margin-left: 5px; font-weight: 700; }
.total-amount { font-weight: 700; }

.items-list { border-top: solid 1px #ebebeb; padding: 15px; }
.order-summary { border-top: solid 1px #ebebeb; padding: 0px 7.5px; }
.order-summary > div { padding: 7.5px; }
.order-summary .border-bottom { border-bottom: solid 1px #ebebeb; }
.order-summary-details p { margin: 5px 0px; color: #747474; }
.shipping-details h5 { margin-top: 0px; }
.shipping-details p { font-size: 16px; }
.shipping-details p span { display: block; margin-bottom: 10px; }
.shipping-details p span.normal { font-weight: 400; color: #747474; }

ul.choose-payment { padding: 0px; margin: 0px; list-style: none; width: 100%; }
ul.choose-payment > li { max-width: 350px; width: 100%; margin: 10px 0px; position: relative; float: left; border: solid 1px #e9e9e9; border-radius: 3px; }
ul.choose-payment > li > span { font-size: 16px;  font-weight: 700; color: #4c4c4c; display: block; padding: 15px 0 15px 38px; cursor: pointer; }
ul.choose-payment > li:hover, ul.choose-payment > li.active { border: solid 1px #6da40e; background: url(../images/selected-icon.png) 15px 19px no-repeat; }

ul.choose-payment .De-active { border: none; }
ul.choose-payment .De-active > span { background: #f0f0f0; border: solid 1px #e9e9e9; cursor: inherit; }
ul.choose-payment .De-active:hover { background-image: none; border: none; }
.payment-method input[type="button"] { max-width: 350px; }
ul.choose-payment .not-eligible { position: absolute; top: 0; left: 100%; color: #888888; }
.not-eligible p { line-height: 18px; margin: 8px 0px; }
.not-eligible p a { color: #981937; }
.not-eligible p a:hover { text-decoration: none; }

ul[role="nasted-list"] { list-style: none; }
ul[role="nasted-list"] li { margin: 0px 0px 15px 0px; }
ul[role="nasted-list"] li input[type="radio"] { display: none; }
ul[role="nasted-list"] li input[type="radio"]:checked + label span:first-child { background: url(../images/check-pink.png) 4px 4px no-repeat; }
ul[role="nasted-list"] li label span:first-child { border: solid 1px #bdbdbd; width: 20px; height: 20px; display: block; float: left; margin-right: 8px; border-radius: 50%; }
ul[role="nasted-list"] li label { cursor: pointer; margin: 0px; }

.items-list p { margin: 10px 0px; color: #747474; }
.items-list p span { font-weight: 700; color: #4c4c4c; }
.items-list h4 { margin: 0px; }
.items-list .media-heading { font-size: 14px; color: #747474; font-size: 14px; }
.items-price { color: #747474; font-weight: 700; font-size: 16px; }
/* Content End */

/* Footer Start */
.payments-facilities { margin: 0 0 50px 0;}
.payments-facilities ul { margin: auto; padding: 0px; list-style: none; }
.payments-facilities ul > li { display: inline-block; margin: 0 15px 25px 15px; }
.payments-facilities ul > li > img { width: 100%; }
.payments-facilities .buyerProtection { margin-bottom: 15px; border-top: solid 1px #d9d9d9; border-bottom: solid 1px #d9d9d9; padding: 10px 0px; }
.payments-facilities .buyerProtection a { display: block; text-align: center; color: #971937; font-weight: 100; }
.payments-facilities .buyerProtection a:hover { text-decoration: none; }
.payments-facilities .buyerProtection a span img { margin-top: -6px; }

.creditcard, .cashondelivery, .NetBanking { padding: 15px 15px 20px 38px; }
.creditcard .row { margin-right: -7.5px; margin-left: -7.5px; }
.creditcard .row > div { padding: 0 7.5px; }
.creditcard .form-control { border-radius: 0; height: 40px; padding: 4px 15px 6px 15px; color: #9b9b9b; }

.new-payment-method > div { background: #ffffff; display: flex; }
.new-payment-method > div.box-border { border-top: solid 1px #ededed; border-top: solid 1px #ededed; background: #ffffff; padding: 0px; display: flex; }
.new-payment-method .form-control { border: solid 1px #e9e9e9; }
.bg-green { background: #6da40e; }
.new-payment-method .tab-content { border-right: solid 1px #ededed; border-bottom: solid 1px #ededed; padding: 15px 25px; }
.cashondelivery > h3 { margin: 0px 0px 5px 0px; font-size: 20px; }
.cashondelivery > p { font-size: 14px; color: #9b9b9b; margin-bottom: 15px; }
.valid-upto { padding: 0 10px 0 0; }
.valid-upto label { width: 100%; float: left; }
.valid-upto input { width: 42%; text-align: center; }
span[role="division"] { width: 15px; height: 40px; text-align: center; display: block; float: left; line-height: 35px; margin-left: 6px; }
.cvv-code { padding: 0 0 0 10px; }
.new-payment-method .cvv-code input { background: url("../images/group-10.png") 70px center no-repeat; padding-right: 45px; }
.new-payment-method a.btn:focus { color: #ffffff; outline: none; }
.new-payment-method a.btn i { font-style: normal; font-weight: 400; }
.NetBanking ul[role="nasted-list"] { padding: 0px; float: left; width: 100%; }
.NetBanking ul[role="nasted-list"] li { float: left; width: 50%; }
.NetBanking ul[role="nasted-list"] li label { width: 100%; }
.NetBanking ul[role="nasted-list"] li label span:first-child { margin-top: 5px; }
.NetBanking ul[role="nasted-list"] li input[type="radio"]:checked + label span:first-child { background: url(../images/Oval-62.png) 4px 4px no-repeat; border: solid 1px #981937; }
.youpay { background: #f0f0f0; }
ul[data-payment-mobile] { border-top: solid 1px #ededed; }
.select-style {
    padding: 5px 0px;
    margin: 0;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    max-width: 270px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/dropdown-arrow.png") no-repeat 95% 52%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}
.or { margin: 10px 15px 0px 0px; }
.fixed-button { position: fixed; left: 0; bottom: 0; z-index: 999; }
.fixed-button .btn { margin: 0; }

div[role="footer"] { background: #f5f3e8; border-top: solid 2px #981937; padding: 2px 0px; }
/* Footer End */
.footer-col { list-style: none; }

/*==============================
MEDIA QUERI
============================== */
/* Small devices (320 to 768) */
@media (max-width: 768px) {
.m-padding { padding: 0px; }
div[role="logo"] img { float: left;}
div[role="logo"] img.logo { margin-top: 4px; width: 130px; }
div[role-nav] { padding: 15px; }
.buyerProtection ul li:nth-of-type(1), .buyerProtection ul li:nth-of-type(2) { border-right: none; }
img[role="back"] { display: block; float: left; margin-right: 6px; margin-top: 8px; }
.loginProcessContainer { padding: 0px; margin: 15px 0px 30px 0px; height: 35px; }
.ShippingIcon span:nth-of-type(2), .PaymentIcon span:nth-of-type(2) { margin-left: -13px; }

.signinForm { padding: 0px; border: none; }
.loginContainer { padding: 0; border: none; }
.BtnContainer { /*position: fixed;*/ bottom: 0; left: 0; z-index: 500;}
.BtnContainer .newBtn { width: 100%; padding: 10px 20px; }
.button-fixed { position: fixed; bottom: 0; z-index: 999; left: 0; margin: 0px; }

.socialMedia { padding: 15px ; }
.socialMedia a { font-size: 12px; padding: 10px 0px 12px; margin: 0px; }
.guestBtn { margin: 0px; }
.guest { margin: 0 0 15px 0; }
.socialMediaContainer { background: #f0f0f0; }
.mobile-seperator { width: 200px; margin:20px auto; height: 2px; background: #959595; }
.mobile-seperator .Mseperator { width: 30px; height: 25px; border-radius: 50%; position: absolute; left: 0; right: 0; top: 10px; margin: auto; background: #fff; font-size: 12px; text-align: center; color: #888888;  }
.Width60, .input-group .form-control.Width60 { width: 100%; }
h4[role="headding"] { margin-bottom: 15px; font-size: 15px; }
h4[role="headding"].M-add-new-address { border: solid 1px #ccc; padding: 15px 25px; margin-bottom: 15px; }
h4[role="headding"].M-add-new-address a, h4[role="headding"].M-add-new-address a:hover { display: block; text-align: left; color: #4c4c4c; text-decoration: none; font-weight: 700; outline: none; font-size: 14px; }
h4[role="headding"].M-add-new-address a span { display: block; float: right; width: 15px; text-align: center; }
h4[role="headding"].M-add-new-address a span img { margin-top: -4px; }
ul.choose-payment .not-eligible { position: inherit; left: 0; padding: 0; top: 3px; }
.new-payment-method > div { display: inherit; }

.NetBanking ul[role="nasted-list"] li { width: 100%; }
.creditcard label { font-size: 12px; color: #6a6a6a; }
.valid-upto, .cvv-code { padding: 0px; }
.cvv-code { padding: 0px; }
.cvv-code .form-control { width: 110px; }
.or { margin: 0 15px 15px 0; }
span[role="division"] { margin-left: 5%; }
}
