<div class="row-fluid">
    <div class="container product_container  cart-pad-lr5-xs">
        <!-- Product page breadcrumbs starts here -->
        <!-- new checkout design starts here -->
        <div class="col-xs-12  col-md-12 buyer-section hidden-sm hidden-xs" data-toggle="modal" data-target="#myModal">
            <img class="buyer-icon" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/sheild.png">
            <span class="buyer-text"><b>100%</b> <span class="buyer-regular-text regular-text">Buyer Protection</span> |
            <span class="secure-text regular-text">Secure Payments &amp; Easy Returns | <span class="learn-text regular-text">Learn More</span></span></span>
        </div>

        <div class="col-xs-12 nopadding" check-out="">
            <div class="header"> my cart |  {{ items }} item(s) </div>
            <!-- checkout header ends -->
            <div class="col-xs-12 check-out-msg" >
                <div class="check-out-msg-txt">Some itmes in your cart are <strong>'out of stock'</strong></div>
                <a href="javascript:void(0)" class="check-out-msg-btn" ng-click="removeOutOfStockProducts()">Remove</a>
            </div>
            <div class="col-xs-12 check-out-msg"    style="display:none;" >
                <div class="check-out-msg-txt"> Item removed from your cart</div>
                <div class="check-out-msg-btn">undo</div>
            </div>
            <div class="col-xs-12 nopadding left-panel">
                <div class="cart-items-card">
                    <a href="javascript:void(0)" class="cart-details-close" ng-click="removeProductFromCart()"><img src="images/delete-icon.png" width:'100%'></a>
                    <div class="cart-items-cont">
                        <div class="cart-img-cont">
                            <img src="http://img1.craftsvilla.com/thumb/166x166/C/V/CV-MKATA38861136840--KATARIA_SILK_HOUSE_PVT_LTD-Craftsvilla_1.jpg">
                        </div>
                        <div class="cart-details-cont">
                            <div class="col-xs-12 nopadding  c-itm-name">Latest Designer Black And White Long Sleeve Straight Suit</div>
                            <div class="col-xs-12 nopadding  c-itm-price">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                    <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                                </svg>
                                <div style="float:left;">1800</div>
                            </div>
                            <div class="col-xs-12 nopadding  c-itm-qty">
                                <div class="text">Qty:</div>
                                <div class="dropdown chck-drpdwn">
                                    <button class="btn btn-default dropdown-toggle chck-drpdwn-btn" style="border-radius:2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 1 <span class="caret chck-caret" style=""></span> </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="seller-note hidden-xs"><a href="javascript:void(0)" ng-click="addNoteToSeller()">add a note seller</a></div>
                        </div>
                    </div>
                    <div class="cart-seller-cont hidden-lg">
                        <form >
                            <div class="text out-o-stk">out of stock</div>
                        </form>
                    </div>
                    <div class="overlay-out-stock">   </div>
                </div>
                <!-- cart-items-card ends -->
                <div class="cart-items-card t-m-10">
                    <div class="cart-details-close"><img src="images/delete-icon.png" width:'100%'></div>
                    <div class="cart-items-cont">
                        <div class="cart-img-cont">
                            <img src="http://img1.craftsvilla.com/thumb/166x166/C/V/CV-MKATA38861136840--KATARIA_SILK_HOUSE_PVT_LTD-Craftsvilla_1.jpg">
                        </div>
                        <div class="cart-details-cont">
                            <div class="col-xs-12 nopadding c-itm-name">Latest Designer Black And White Long Sleeve Straight Suit</div>
                            <div class="col-xs-12 nopadding c-itm-price">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                    <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                                </svg>
                                <div style="float:left;">1800</div>
                            </div>
                            <div class="col-xs-12 nopadding c-itm-qty">
                                <div class="text">Qty:</div>
                                <div class="dropdown chck-drpdwn">
                                    <button class="btn btn-default dropdown-toggle chck-drpdwn-btn" style="border-radius:2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 1 <span class="caret chck-caret"></span> </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="seller-note out-o-stk hidden-xs">out of stock</div>
                        </div>
                    </div>
                    <div class="cart-seller-cont hidden-lg">
                        <form >
                            <div class="text out-o-stk">out of stock</div>
                        </form>
                    </div>
                    <div class="overlay-out-stock">   </div>
                </div>
                <!-- cart-items-card ends -->
                <div class="col-xs-6 nopadding red t-m-10">Items without cash on delivery</div>
                <a href="javascript:void(0)" class="col-xs-6 nopadding clrrouge t-m-10 text-right" ng-click="removeAllItems()">Remove All</a>

                <!--ng repeat for non cod products : 1 for non cod as in api call-->

                <div class="cart-items-card t-m-10" ng-repeat="data in cartData" ng-if="data.cod_available == 1">
                    <a href="javascript:void(0)" class="cart-details-close" ng-click="removeProductFromCart()"><img src="images/delete-icon.png" width:'100%'></a>
                    <div class="cart-items-cont">
                        <div class="cart-img-cont">
                            <img src="http://img1.craftsvilla.com/thumb/216x216{{data.product_image}}" class="img-responsive">
                        </div>
                        <div class="cart-details-cont">
                            <div class="col-xs-12 nopadding c-itm-name">{{data.product_name}}</div>
                            <div class="col-xs-12 nopadding c-itm-price">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                    <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                                </svg>
                                <div style="float:left;">{{data.product_price}}</div>
                            </div>
                            <div class="col-xs-12 nopadding c-itm-qty">
                                <div class="text">Qty:</div>
                                <!--<div class="dropdown chck-drpdwn">
                                    <button class="btn btn-default dropdown-toggle chck-drpdwn-btn sdsd" style="border-radius:2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ data.product_qty }} <span class="caret chck-caret"></span> </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>-->
                                <select class="form-control width-auto">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                            <div class="seller-note hidden-xs" ng-click="showNoteToSeller()" ng-hide="showNote">add a note seller</div>

                        </div>
                    </div>
                    <div class="cart-seller-cont" ng-show="showNote">

                            <div class="text hidden-lg " style="display:none;" >add a seller note</div>
                            <div class="open-cont " >
                                <form name="sellerForm" ng-submit="addNoteToSeller()" novalidate>
                                    <div ng-class="{ 'error' : (sellerForm.sellernote.$invalid && !sellerForm.sellernote.$pristine) || (sellerForm.$submitted && sellerForm.sellernote.$error.required) }">
                                        <p> Add note to seller </p>
                                        <textarea class="seller-texta" ng-model="seller.sellernote" name="sellernote" placeholder="Add a note here"  required></textarea>
                                        <div ng-show="sellerForm.$submitted || sellerForm.sellernote.$touched">
                                            <span ng-show="sellerForm.sellernote.$error.required" class="error">Seller note required.</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="buttons b-border t-m-10">save</button>
                                </form>
                                <span class="buttons l-m-20 t-m-10 m-right-20" ng-click="hideNoteToSeller()">cancel</span>
                            </div>
                            <div class="open-cont" style="display:none;">
                                <p> Whatever the user adds appears here. Whatever the user adds appear here</p>
                                <span class="buttons r-m-20 t-m-10 m-left-59 m-right-20">remove</span>
                                <span class="buttons t-m-10">edit</span>
                            </div>

                    </div>

                </div>

                <!--ng repeat for non cod products : 1 for non cod as in api call ends here-->

                <!--ng repeat for cod products : 0 for cod as in api call-->

                <div class="col-xs-6 nopadding red t-m-10">Items with cash on delivery</div>
                <div class="cart-items-card t-m-10" ng-repeat="data in cartData" ng-if="data.cod_available == 0">
                    <a href="javascript:void(0)" class="cart-details-close" ng-click="removeProductFromCart()"><img src="images/delete-icon.png" width:'100%'></a>
                    <div class="cart-items-cont">
                        <div class="cart-img-cont">
                            <img src="http://img1.craftsvilla.com/thumb/216x216{{data.product_image}}" class="img-responsive">
                        </div>
                        <div class="cart-details-cont">
                            <div class="col-xs-12 nopadding c-itm-name">{{data.product_name}}</div>
                            <div class="col-xs-12 nopadding c-itm-price">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                    <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                                </svg>
                                <div style="float:left;">{{data.product_price}}</div>
                            </div>
                            <div class="col-xs-12 nopadding c-itm-qty">
                                <div class="text">Qty:</div>
                                <!--<div class="dropdown chck-drpdwn">
                                    <button class="btn btn-default dropdown-toggle chck-drpdwn-btn sdsd" style="border-radius:2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ data.product_qty }} <span class="caret chck-caret"></span> </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>-->
                                <select class="form-control width-auto">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                            </div>
                            <div class="seller-note hidden-xs" ng-click="showNoteToSeller()" ng-hide="showNote">add a note seller</div>

                        </div>
                    </div>
                    <div class="cart-seller-cont" ng-show="showNote">

                            <div class="text hidden-lg " style="display:none;" >add a seller note</div>
                            <div class="open-cont " >
                                <form name="sellerForm" ng-submit="addNoteToSeller()" novalidate>
                                    <div ng-class="{ 'error' : (sellerForm.sellernote.$invalid && !sellerForm.sellernote.$pristine) || (sellerForm.$submitted && sellerForm.sellernote.$error.required) }">
                                        <p> Add note to seller </p>
                                        <textarea class="seller-texta" ng-model="seller.sellernote" name="sellernote" placeholder="Add a note here"  required></textarea>
                                        <div ng-show="sellerForm.$submitted || sellerForm.sellernote.$touched">
                                            <span ng-show="sellerForm.sellernote.$error.required" class="error">Seller note required.</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="buttons b-border t-m-10">save</button>
                                </form>
                                <span class="buttons l-m-20 t-m-10 m-right-20" ng-click="hideNoteToSeller()">cancel</span>
                            </div>
                            <div class="open-cont" style="display:none;">
                                <p> Whatever the user adds appears here. Whatever the user adds appear here</p>
                                <span class="buttons r-m-20 t-m-10 m-left-59 m-right-20">remove</span>
                                <span class="buttons t-m-10">edit</span>
                            </div>

                    </div>

                </div>

                <!--ng repeat for cod products : 0 for cod as in api call ends here-->

                
                <!-- cart-items-card ends -->
                <div class="cart-items-card t-m-10">
                    <div class="cart-details-close"><img src="images/delete-icon.png" width:'100%'></div>
                    <div class="cart-items-cont">
                        <div class="cart-img-cont">
                            <img src="http://img1.craftsvilla.com/thumb/166x166/C/V/CV-MRISE17939320530--Rise_N_Shine-Craftsvilla_1.jpg">
                        </div>
                        <div class="cart-details-cont">
                            <div class="col-xs-12 nopadding c-itm-name">Latest Designer Black And White Long Sleeve Straight Suit test</div>
                            <div class="col-xs-12 nopadding c-itm-price">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                    <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                                </svg>
                                <div style="float:left;">1800</div>
                            </div>
                            <div class="col-xs-12 nopadding  c-itm-qty">
                                <div class="text">Qty:</div>
                                <div class="dropdown chck-drpdwn">
                                    <button class="btn btn-default dropdown-toggle chck-drpdwn-btn" style="border-radius:2px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 1 <span class="caret chck-caret"></span> </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="seller-note hidden-xs" style="display:none;">add a note seller</div>
                        </div>
                    </div>
                    <div class="cart-seller-cont " >
                        <form >
                            <div class="text hidden-lg" style="display:none;" >add a seller note</div>
                            <div class="open-cont" style="display:none;" >
                                <p> Add note to seller </p>
                                <textarea class="seller-texta" placeholder="Add a note here" ></textarea>
                                <span class="buttons r-m-20 t-m-10 m-left-59 m-right-20">cancel</span>
                                <span class="buttons t-m-10">save</span>
                            </div>
                            <div class="open-cont" >
                                <p> Whatever the user adds appears here. Whatever the user adds appear here. Whatever the user adds appears here. Whatever the user adds appear here.</p>
                                <button class="buttons  b-border t-m-10" ng-click="updateNoteToSeller()">edit</button>
                                <a href="javascript:void(0)" class="buttons l-m-20 t-m-10 m-left-20" ng-click="removeNoteToSeller()">remove</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- cart-items-card ends -->
                <div class="col-xs-12 nopadding hidden-xs">
                    <div class="c-continue-shpng"> <img class="c-arrw" src="images/back-CTA-icon.png"> Continue Shopping    </div>
                    <div class="order-total">
                        <div class="pulll-left inln-blck">Total Payable( {{ items }} Item(s))</div>
                        <div class="o-t-amt pull-right inln-blck">
                            <div class="pull-right inln-blck"> {{ grandTotal }}</div>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- checkout left panel ends -->

            <!--coupon code proceed to checkout starts here-->
            <div class="col-xs-12 nopadding  right-panel">

                <div class="col-xs-12  coupon-cont"  >
                    <div class="coupon-text" ng-show="successCoupon" >Coupon
                        <span class="colorblack"><strong>"{{couponCode}}"</strong></span> applied
                        <!--<span class="clrrouge">Remove</span>-->
                        <a href="javascript:void(0)" ng-click="removeCoupon(couponCode)"><span class="clrrouge">Remove</span></a>
                    </div>
                    <div ng-hide="successCoupon">
                        <div class="cc-header" >Enter Coupon Code</div>
                        <div class="col-xs-12 nopadding">
                            <form class="coupon-cont-form" name="couponForm" ng-submit="applyCoupon()" novalidate>
                                <div ng-class="{ 'error' : (couponForm.couponcode.$invalid && !couponForm.couponcode.$pristine) || (couponForm.$submitted && couponForm.couponcode.$error.required) }">
                                    <input type="text" class="col-xs-8 coupon-input red-border" name="couponcode" ng-model="coupon.couponcode" required>
                                    

                                </div>
                                <button type="submit" class="col-xs-4 coupon-c-button">APPLY</button>
                                <div ng-show="couponForm.$submitted || couponForm.couponcode.$touched">
                                    <span ng-show="couponForm.couponcode.$error.required" class="error">Coupon code invalid</span>
                                </div>
                                <p>{{couponMessage}}</p>
                                <!--<div class="red" >Coupon code invalid</div>-->
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 order-cont">
                    <div class="o-heading">order summary</div>
                    <div class="o-left-cont">
                        <p>Sub Total</p>
                        <p ng-show="successCoupon">Coupon Applied ({{couponCode}})</p>
                        <p class="green" ng-show="successCoupon">You saved {{discount | number:0}}%</p>
                        <p>Shipping</p>
                        <p class="total pad-t-7"><b>Total Payable</b></p>
                    </div>
                    <div class="o-right-cont">
                        <div class="ord-amt">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                            </svg>
                            <div class="pull-right">{{ subTotal }}</div>
                        </div>
                        <div class="ord-amt" ng-show="successCoupon">
                            <span class="pull-left"> &#45; </span>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                            </svg>
                            {{ totalDiscount }}
                        </div>
                        <div class="ord-amt icon width100" ng-show="successCoupon"> </div>
                        <div class="ord-amt">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                            </svg>
                            {{ shippingAmount }}
                        </div>
                        <div class="ord-amt total">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 28" class="icon">
                                <path d="M14.031 7.344v1.594q0 0.219-0.141 0.359t-0.359 0.141h-2.625q-0.359 2.25-2.016 3.656t-4.312 1.719q2.609 2.781 7.172 8.375 0.219 0.25 0.063 0.531-0.125 0.281-0.453 0.281h-3.047q-0.25 0-0.391-0.187-4.781-5.734-7.781-8.922-0.141-0.141-0.141-0.344v-1.984q0-0.203 0.148-0.352t0.352-0.148h1.75q2.063 0 3.32-0.672t1.602-1.953h-6.672q-0.219 0-0.359-0.141t-0.141-0.359v-1.594q0-0.219 0.141-0.359t0.359-0.141h6.453q-0.891-1.766-4.188-1.766h-2.266q-0.203 0-0.352-0.148t-0.148-0.352v-2.078q0-0.219 0.141-0.359t0.359-0.141h13q0.219 0 0.359 0.141t0.141 0.359v1.594q0 0.219-0.141 0.359t-0.359 0.141h-3.641q0.734 0.953 1 2.25h2.672q0.219 0 0.359 0.141t0.141 0.359z"></path>
                            </svg>
                            {{ grandTotal }}
                        </div>
                    </div>
                    <button class="btn col-xs-12 procd-to-checkout" ng-click="proceedToCheckout()">Proceed to checkout<img style="margin-left:5px;height:auto; width:5%;" src="images/Checkout-CTA-icon.png"></button>
                </div>
            </div>
            <!-- checkout right panel ends -->
        </div>
        <!-- new checkout design ends here -->
        <div class="clearfix"></div>
        <div class="fancybox" id="successmessage" style="display:none">
            <p class="colorgreen mt20">Your message has been sent</p>
        </div>
        <div class="fancybox" id="notsuccessmessage" style="display:none">
            <p class="colorred mt20">Image size should be less than 2MB</p>
        </div>
        <div class="fancybox" id="filetypeext" style="display:none">
            <p class="colorred mt20">It is not valid file type</p>
        </div>
        <!--Seller Contact pop up Info-->
        <script>
            /* $('.modal-toggle').click(function (e) {
            var tab = e.target.hash;
            $('li > a[href="' + tab + '"]').tab("show");
            });*/
        </script>
        <script>
            dataLayer = [{
                'productId':'3142433',
                'skuId':'MKATA60862076570',
                'prodName':'Mimosa Kanchipuram Tassar Wedding Silk Saree White305197hlfwhitemarun',
                'prodURL':'/catalog/product/view/id/3142433/s/mimosa-kanchipuram-tassar-wedding-silk-saree-white-3051-97-hlfwhitemarun',
                'imageURL':'/C/V/CV-MKATA60862076570--KATARIA_SILK_HOUSE_PVT_LTD-Craftsvilla_1.jpg',
                'localShippingCost':'150',
                'shippingCostInternational':'1,000',
                'productCategory':'Sarees',
                'productSubCategory':'Kanchivaram Sarees',
                'productPrice':'1,849',
                'sellerName':'Kataria Silk House Pvt Ltd',
                'productAvailability':'1',
                'currency':'INR',
                'source':'productDetailsPage',
                'buttonText':'BuyNow'
            }];
        </script>
    </div>
</div>

