
    <div class="navbar navbar-default craftsvilla-international hidden-sm hidden-xs" role="navigation">
        <div class="container craftsvilla-international-navbar ">
            <div class="left-section-international col-md-8 nopadding">
                <i class="icon-v2 icon-small icon-call"></i>
                <span class="call-text">
                    Call <b>022 61579090</b> for any assistance
                </span>
            </div>
            <div class="right-section-international pull-right col-md-4">
                <a href="https://play.google.com/store/apps/details?id=com.craftsvilla.app&hl=en" class="download-app-section" target="_blank">
                    <i class="icon icon-small icon-download"></i>
                    <span class="download-text">Download App</span>
                </a>
                <span>&nbsp|&nbsp</span>
                <a href="/sell" class="sell-section">
                    <span class="sell-text">Sell on Craftsvilla</span>
                </a>
            </div>
        </div>
    </div>

<!-- International navbar section ends here -->

<!-- craftsvilla header navbar starts here -->

    <div class="navbar navbar-default craftsvilla-navbar navbar-fixed-top" role="navigation">
        <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="without-searchbar">
                    <button type="button" class="navbar-toggle pull-left mobile-navbar" data-toggle="offcanvas" data-target=".sidebar-offcanvas">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-container" rel="home" href="/">
                        <img class="brand" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/cv_logo.png" />
                    </a>
                    <div class="mobile-top visible-sm visible-xs pull-right">
                        <i class="icon-v2 icon-small icon-search-v2 header-mobile-icon"></i>
                        <a href="/wishlist/"><i class="icon-v2 icon-wish icon-small header-mobile-icon"></i></a>
                        <a class="cart-icon-section" rel="nofollow" href="/checkout/cart/" onclick="dataLayer.push({'event':'WentToCartEvent','eventName':'WentToCart','source':'TopNavigation','count':'6'});">
                            <span class="icon-container">
                                <i class="icon-v2 icon-cart icon-small header-mobile-icon"></i>
                                <span class="cart-count-container">
                                    <span class="mnotification">
                                        0
                                    </span>
                                </span>
                            </span>
                        </a>
                        <a rel="nofollow" href="/customer/account/login/" class="user-icon-section">
                            <i class="icon-v2 icon-user header-mobile-icon"></i>
                        </a>
                    </div>
                </div>

                <div class="with-searchbar">
                    <div class="back-arrow-container">
                        <i class="icon-v2 icon-small icon-back-arrow"></i>
                    </div>
                    <form class="col-xs-9"id="msearch_mini_form" action="/searchresults" method="get">
                        <input type="hidden" name="searchby" id="searchby" value="product">
                        <input class="typeahead sb-search-input" placeholder="Search..." type="text" name="q" value = "" id="msearchval">
                        <button type="submit" class="btn btn-default col-md-2 text-uppercase sb-search-submit" onclick="dataLayer.push({'event':'SearchPerformedEvent','eventName':'SearchPerformed','source':'homeScreen','suggestionUsed':'no'});"><i class="icon-v2 icon-small icon-search-v2"></i></button>
                    </form>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nopadding">
                <div class="col-md-6 col-md-offset-1 autosuggest-section">
                    <form id="search_mini_form" role="search" action="/searchresults" method="get" onsubmit="javascript:return fillvalues();">
                        <input type="hidden" name="searchby" id="searchby"
                            value="product"                      />
                        <div class="form-group col-md-10 text-holder">
                            <input type="text"  name="q" class="typeahead form-control" id="searchval" placeholder="Eg: Salwar Suit, Lehnga, Kurtis">
                        </div>
                        <button type="submit" class="btn btn-default col-md-2 text-uppercase search-button" onclick="dataLayer.push({'event':'SearchPerformedEvent','eventName':'SearchPerformed','source':'homeScreen','suggestionUsed':'no'});">Search</button>
                    </form>
                </div>
                <ul class="nav navbar-nav col-md-3 right-section">
                    <a class="col-md-2 wishlist" href="/wishlist/">
                        <i class="icon-small icon-wish"></i>
                    </a>
                    <a class="cart-icon-container header-icon-container" rel="nofollow" href="/checkout/cart/" onclick="dataLayer.push({'event':'WentToCartEvent','eventName':'WentToCart','source':'TopNavigation','count':'6'});">
                        <li class="col-md-4 cart-container">
                            <span class="cart-icon">
                                <i class="icon-v2 icon-cart icon-small"></i>
                            </span>
                            <span class="cart-text">
                                Cart
                            </span>
                            <span class="notification">
                                0
                            </span>
                        </li>
                    </a>
                    <li id="loginLogoutResponse" class="col-md-4">
                        <ul class="user-icon-container header-icon-container fancybox" href="#login">
                            <li class="account-section">
                                <span class="user-icon">
                                    <i class="icon-v2 icon-user"></i>
                                </span>
                                <span class="user-text">
                                    Sign In
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
<!-- Craftsvilla navbar ends here -->
  <!--  <a class="col-xs-12 buyer_protection_mobile visible-sm visible-xs" id="buyer_protection_mobile" data-toggle="modal" data-target="#myModal">
        <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/sheild.png" class="protection-shield"/>
        <span class="protection_text"><b>100%</b> Buyer Protection</span>
        <span class="learn_more">Learn More</span>
    </a> -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header no-border custom-modal-header">
                    <div  class="policies-close"  data-dismiss="modal">X</div>
                </div>
                <div class="modal-body pad10px">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs policies-nav" role="tablist">
                            <li role="presentation" class="active"><a href="#shippingPolicies" aria-controls="shippingPolicies" role="tab" data-toggle="tab">Shipping Policies</a></li>
                            <li role="presentation"><a href="#returnPolicies" aria-controls="returnPolicies" role="tab" data-toggle="tab">Return Policies</a></li>
                            <li role="presentation"><a href="#securePayments" aria-controls="securePayments" role="tab" data-toggle="tab">100% Secure Payments</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content policies-tab-conent">
                            <div role="tabpanel" class="tab-pane active" id="shippingPolicies">
                                <div class="mart5"><b>Shipping Time</b></div>

                                <p>We deliver in India within 10 days and outside of India within 21 days. Currently our average delivery time in India is around 4 days and outside of India is 18 days</p>

                                <div class="mart5"><b>Shipment Tracking:</b></div>

                                <p>You will get an email and SMS with the tracking details as soon as the product is shipped. You can also request the seller for a
                                faster shipping by clicking the ‘Contact Seller’ button on the product page after you place the order</p>

                                <div class="mart5"><b>Shipping Locations:</b> </div>

                                <p>We deliver to over 100 countries globally including USA, UK, Australia and Canada </p>
                            </div>
                            <div role="tabpanel" class="fade tab-pane" id="returnPolicies">
                                <div class="mart5"><b>Return Time:</b></div>
                                <p>We have a 100% Buyer protection policy wherein you can return the product for any reason whatsoever. You can ship it back to us within 14 days and get a full refund  </p>
                                <div class="mart5"><b>Return Process: </b></div>
                                <p>Just email us your complaint with order number within 7 days of receipt of the product. You can also login to your account and raise a dispute from there. Our team will reply to you with an approval email containing the instructions and return shipping address to which you need to send back the product within 7 days.  </p>
                                <div class="mart5"><b>Refund: </b></div>
                                <p>If you wish, we can offer you a redeemable voucher worth the refund amount for future purchases. Else we can also refund the entire amount back to your bank account without any deductions along  with Rs. 100 for return shipping.</p>
                            </div>
                            <div role="tabpanel" class="fade tab-pane" id="securePayments">
                                <div class="mart5"><b>Payment Modes:</b> </div>
                                <p>Cash on Delivery</p>
                                <p>Net Banking, Debit cards/ Credit Cards (Visa, MasterCard, American Express, Diners Club cards accepted) International Credit Cards </p>
                                <div class="mart5"><b>Payment Details: </b></div>
                                <p>You will receive an email with your payment details immediately after you make a purchase. In case of any issues our customer care would be happy to help you </p>
                                <div class="mart5"><b>Payment Security:</b></div>
                                <p>You transparently pay through our Payment Gateway and all the data is transferred through high level encryption technology. We guarantee you, your payments are 100% secured with us and your payment details are never shared with anyone during the payment process </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal ends -->
    <div id="login" style="display: none;">
        <div class="col-xs-11 col-sm-11 item-chunk-xtra-padding">
            <div class="col-xs-12">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a id="login-hover" href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Login</a></li>
                    <li role="presentation" class=""><a id="register-hover" href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Register</a></li>
                </ul>
                <div class="tab-content spacer nopadding">
                    <div role="tabpanel" class="fade tab-pane active in" id="home">
                        <form id="login-top" method="post" action="/customer/account/loginPost/" class="signin-register-form" role="form">
                            <div class="form-group">
                                <input type="email" name="login[username]" id="email" placeholder="Email id" required="" class="col-xs-12 form-control" autocomplete="off" data-validation="email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="login[password]" id="pass" placeholder="Password" required="" class="col-xs-12 form-control" data-validation="required" data-validation-error-msg="You did not enter a password">
                            </div>
                            <input type="hidden" name="login[currenturl]" id="url" value="http://www.craftsvilla.com/catalog/product/view/id/3142433/s/mimosa-kanchipuram-tassar-wedding-silk-saree-white-3051-97-hlfwhitemarun/" />
                            <p class="small pull-right">
                                <a id="fpass-hover" href="/customer/account/forgotpassword/">Forgot Password?</a>
                            </p>
                            <button id="signin-hover" type="submit" class="col-xs-12">Sign In</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="fade tab-pane" id="profile">
                        <form action="/customer/account/createpost/" class="signin-register-form" method="post" id="form-validate" role="form">
                            <div class="form-group">
                                <input type="text" name="firstname" id="firstname" placeholder="First Name" required="" class="col-xs-12 form-control" autocomplete="off" data-validation="required alphanumeric" data-validation-error-msg="You did not enter a first name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" id="lastname" placeholder="Last Name" required="" class="col-xs-12 form-control" autocomplete="off" data-validation="required alphanumeric" data-validation-error-msg="You did not enter a last name">
                            </div>
                            <div class="form-group">
                                <input type="text" id="telephone" name="telephone" placeholder="Mobile No" required="" class="col-xs-12 form-control" autocomplete="off" data-validation="number length" maxlength="10" data-validation-length="10-10">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email_address" placeholder="Email id" required="" class="col-xs-12 form-control" autocomplete="off" data-validation="email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Password" required="" class="col-xs-12 form-control" data-validation="required length" data-validation-length="min6">
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirmation" name="confirmation" placeholder="Re-Enter Password" required="" class="col-xs-12 form-control" data-validation="confirmation" data-validation-confirm="password" data-validation-error-msg="Please enter the same password"/>
                            </div>
                            <button id="register-header" type="submit" class="col-xs-12" onclick="sendSignUpData();">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function sendSignUpData() {
        dataLayer.push({
            'event':'UserSignedUpEvent',
            'eventName':'UserSignedUp',
            'type':'email',
            'cartValue':'6'
        });
        clevertap.profile.push({
            "Site": {
                "Name": $('#firstname').val() + " " + $('#lastname').val(),// User's name
                "Email": $('#email_address').val(), // User's email
                "Phone": "+91" + $('#telephone').val() // User's phone with country code
            }
        });
    }
    dataLayer = [{
        'pageLink':'http://www.craftsvilla.com/catalog/product/view/id/3142433/s/mimosa-kanchipuram-tassar-wedding-silk-saree-white-3051-97-hlfwhitemarun/',
        'title':'Mimosa Kanchipuram Tassar Wedding Silk Saree White(3051-97-hlfwhitemarun)-Sarees-Kataria Silk House Pvt Ltd',
        'userEmailAddress':'kurheasha@gmaii.com',
        'type':'email',
        'city':'amravati',
        'loggedIn':'yes',
        'cartValue':'6',
        'cartItemsCount':'6'
    }];
</script>

<div class="dropdown visible-xs" id="custom-header-dropdown">
  <ul class="dropdown-menu dropdown-category" aria-labelledby="dropdownMenu1">
      <li class="dropdown-header"><b>FASHION</b></li>
          <li><a href="/sarees-sari.html">Sarees</a></li>
          <li><a href="/clothing/lehnga.html">Bridal Lehenga</a></li>
          <li><a href="/clothing/salwar-suit.html">Salwar Suits</a></li>
          <li><a href="/clothing.html">Other Clothing</a></li>
          <li><a href="/jewellery-jewelry.html">Jewellery</a></li>
          <li><a href="/bags.html">Bags</a></li>
          <li><a href="/accessories.html">Accessories</a></li>
          <li><a href="/footwear-1.html">Footwear</a></li>
      <li class="dropdown-header"><b>HOME</b></li>
          <li><a href="/home-decor-products.html">Home Decor</a></li>
          <li><a href="/home-furnishing.html">Home Furnishings</a></li>
      <li class="dropdown-header"><b>LIFESTYLE</b></li>
          <li><a href="/food-health.html">Food &amp; Health</a></li>
          <li><a href="/bath-beauty.html">Bath &amp; Beauty</a></li>
      <li class="dropdown-header"><b>OTHER</b></li>
          <li><a href="/gifts-birthday-anniversary-wedding.html">Gifts</a></li>
          <li><a href="/kids-baby-names-toy.html">Kids</a></li>
          <li><a href="/books-india.html">Books</a></li>
          <li><a href="/spiritual-books-pooja.html">Spiritual</a></li>
  </ul>
</div>
<div class="row-fluid">
	<div class="container product_container  cart-pad-lr5-xs"><!-- Product page breadcrumbs starts here -->

	<!-- new checkout design starts here -->

    <div class="col-xs-12  col-md-12 buyer-section hidden-sm hidden-xs" data-toggle="modal" data-target="#myModal">
        <img class="buyer-icon" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/img/sheild.png">
        <span class="buyer-text"><b>100%</b> <span class="buyer-regular-text regular-text">Buyer Protection</span> |
        <span class="secure-text regular-text">Secure Payments &amp; Easy Returns | <span class="learn-text regular-text">Learn More</span></span></span>
    </div>

    <div empt-cart="">
        <div class="empty-head">YOUR CART IS EMPTY</div>
        <div class="empty-txt">Start shopping with options below.</div>
        <div class="empty-lst">
            <ul>
                <li><a href="#">Sarees</a></li>
                <li><a href="#">Salwar Suits</a></li>
                <li><a href="#">Lehengas</a></li>
                <li><a href="#">Jewellery</a></li>
            </ul>
        </div>
        <div class="contn-shpng">CONTINUE SHOPPING</div>
    </div>


	<!-- new checkout design ends here -->

    <div class="clearfix"></div>


        <div class="fancybox" id="successmessage" style="display:none">
            <p class="colorgreen mt20">Your message has been sent</p>
        </div>
        <div class="fancybox" id="notsuccessmessage" style="display:none">
            <p class="colorred mt20">Image size should be less than 2MB</p>
        </div>
        <div class="fancybox" id="filetypeext" style="display:none">
            <p class="colorred mt20">It is not valid file type</p>
        </div>
        <!--Seller Contact pop up Info-->
        <script>
            /* $('.modal-toggle').click(function (e) {
            var tab = e.target.hash;
            $('li > a[href="' + tab + '"]').tab("show");
            });*/
        </script>
        <script>
            dataLayer = [{
                'productId':'3142433',
                'skuId':'MKATA60862076570',
                'prodName':'Mimosa Kanchipuram Tassar Wedding Silk Saree White305197hlfwhitemarun',
                'prodURL':'/catalog/product/view/id/3142433/s/mimosa-kanchipuram-tassar-wedding-silk-saree-white-3051-97-hlfwhitemarun',
                'imageURL':'/C/V/CV-MKATA60862076570--KATARIA_SILK_HOUSE_PVT_LTD-Craftsvilla_1.jpg',
                'localShippingCost':'150',
                'shippingCostInternational':'1,000',
                'productCategory':'Sarees',
                'productSubCategory':'Kanchivaram Sarees',
                'productPrice':'1,849',
                'sellerName':'Kataria Silk House Pvt Ltd',
                'productAvailability':'1',
                'currency':'INR',
                'source':'productDetailsPage',
                'buttonText':'BuyNow'
            }];
        </script>
</div></div><!-- footer begins here -->
<div class="container-fluid nopadding footer_container">
    <div class="footer">
        <footer>
            <div class="container nopadding">
                <section class="col-xs-12 hidden-xs hidden-lg">
                    <ul class="footer-col col-xs-3">
                        <li><h1>OUR COMPANY</h1></li>
                        <li><a href="/about-us-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'About us'});">About us</a></li>
                        <li><a href="/craftsvilla-in-media" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Craftsvilla in Media'});">Craftsvilla in Media</a></li>
                        <li><a href="/how-to-buy-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'How to Buy'});">How to buy</a></li>
                        <li><a href="http://blog.craftsvilla.com" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Blog'});">Blog</a></li>
                        <li><a href="/secure-shopping-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Secure Payment Options'});">Secure Payment Options</a></li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>USEFUL INFO</h1></li>
                        <li><a href="/faq-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'FAQ'});">FAQ's</a></li>
                        <li><a href="/catalog/seo_sitemap/category" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Sitemap'});">Sitemap</a></li>
                        <li><a href="/contact-us-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Contact Us'});">Contact us</a></li>

                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>POLICIES & INFO</h1></li>
                        <li><a href="/terms-and-conditions-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Terms  Conditions'});">Terms &amp; Conditions</a></li>
                        <li><a href="/policy-for-sellers" onclick="dataLayer.push({'event':'PoliciesViewedEvent','eventName':'PoliciesViewed','link':'Policy for Sellers','type':'PolicyForSellers','place':'policiesPage'});">Policy for Sellers</a></li>
                        <li><a href="/policy-for-buyers" onclick="dataLayer.push({'event':'PoliciesViewedEvent','eventName':'PoliciesViewed','link':'Policy for Buyers','type':'PolicyForBuyers','place':'policiesPage'});">Policy for Buyers</a></li>
                        <li><a href="/shipping-artisans-designers" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Shipping Refund Policies'});">Shipping &amp; Refund Policies</a></li>
                        <li><a href="/wholesale-policy" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Wholesale Policy'});">Wholesale Policy</a></li>
                        <li><a href="/privacy-policy-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Privacy Policy'});">Privacy Policy</a></li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>POLICIES & INFO</h1></li>
                        <li><a href="/marketplace/vendor" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Login'});">Seller Login</a></li>
                        <li><a href="/umicrosite/vendor/register" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Sign Up'});">Seller Sign up</a></li>
                        <li><a href="/seller-handbook" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Handbook'});">Seller Handbook</a></li>
                        <li><a href="/craftsvilla-seller-faq" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller FAQs'});">Seller FAQs</a></li>
                    </ul>
                </section>
                <section class="col-xs-12 hidden-xs">
                    <ul class="footer-col col-xs-3">
                        <li><h1>SUPPORT</h1></li>
                        <li><span class="ln-hgt-15">For Help, send email to </span>
                            <a href="mailto:customercare@craftsvilla.com"><span class="rouge ln-hgt-15">customercare@craftsvilla.com</span></a>
                        </li>
                    </ul>

                    <ul class="footer-col col-xs-3">
                        <li><h1> PAYMENT OPTIONS</h1></li>
                        <li><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_1.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_2.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_3.png"></li>
                    </ul>

                    <ul class="footer-col col-xs-3">
                        <li><h1>STAY CONNECTED</h1></li>
                        <li>
                            <a href="http://www.facebook.com/craftsvilla" target="_blank"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png"></a>
                            <a href="https://twitter.com/craftsvilla" target="_blank"><img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png"></a>
                            <a href="https://plus.google.com/117677147285924975963" target="_blank"><img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png"></a>
                            <a href="https://www.pinterest.com/craftsvilla/" target="_blank">
                            <img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>DOWNLOAD OUR APP</h1></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.craftsvilla.app&hl=en" target="_blank">
                                <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Googleplay.png">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <section class="m-t-10 beige-bg nopadding hidden-xs center-block subscribe-block">
                <div class="subscribe-cont">
                    <span>STAY CONNECTED</span>
                    <span class="p-l-5"> <input type="text"
                        title="subscribe"><input type="submit" title="subscribe-sub" value="Subscribe"></span>
                </div>
            </section>

            <section class="hidden-md hidden-lg write-us-cont">
                <p class="write-us" >If you can't find What you're looking for, write to us on <a href="" class="rouge">customercare@craftsvilla.com</a></p>
                    <div style="text-align:center; padding:10px 0; ">
                        <a href="http://www.facebook.com/craftsvilla" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png">
                        </a>
                        <a href="https://www.pinterest.com/craftsvilla/" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png">
                        </a>
                        <a href="https://twitter.com/craftsvilla" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png">
                        </a>
                        <a href="https://plus.google.com/117677147285924975963" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png">
                        </a>
                    </div>
            </section>
        </footer>
    </div>
</div>
