<div class="container-fluid nopadding footer_container">
    <div class="footer">
        <footer>
            <div class="container nopadding">
                <section class="col-xs-12 hidden-xs hidden-lg">
                    <ul class="footer-col col-xs-3">
                        <li><h1>OUR COMPANY</h1></li>
                        <li><a href="/about-us-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'About us'});">About us</a></li>
                        <li><a href="/craftsvilla-in-media" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Craftsvilla in Media'});">Craftsvilla in Media</a></li>
                        <li><a href="/how-to-buy-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'How to Buy'});">How to buy</a></li>
                        <li><a href="http://blog.craftsvilla.com" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Blog'});">Blog</a></li>
                        <li><a href="/secure-shopping-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Secure Payment Options'});">Secure Payment Options</a></li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>USEFUL INFO</h1></li>
                        <li><a href="/faq-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'FAQ'});">FAQ's</a></li>
                        <li><a href="/catalog/seo_sitemap/category" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Sitemap'});">Sitemap</a></li>
                        <li><a href="/contact-us-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Contact Us'});">Contact us</a></li>

                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>POLICIES & INFO</h1></li>
                        <li><a href="/terms-and-conditions-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Terms  Conditions'});">Terms &amp; Conditions</a></li>
                        <li><a href="/policy-for-sellers" onclick="dataLayer.push({'event':'PoliciesViewedEvent','eventName':'PoliciesViewed','link':'Policy for Sellers','type':'PolicyForSellers','place':'policiesPage'});">Policy for Sellers</a></li>
                        <li><a href="/policy-for-buyers" onclick="dataLayer.push({'event':'PoliciesViewedEvent','eventName':'PoliciesViewed','link':'Policy for Buyers','type':'PolicyForBuyers','place':'policiesPage'});">Policy for Buyers</a></li>
                        <li><a href="/shipping-artisans-designers" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Shipping Refund Policies'});">Shipping &amp; Refund Policies</a></li>
                        <li><a href="/wholesale-policy" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Wholesale Policy'});">Wholesale Policy</a></li>
                        <li><a href="/privacy-policy-craftsvilla" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Privacy Policy'});">Privacy Policy</a></li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>POLICIES & INFO</h1></li>
                        <li><a href="/marketplace/vendor" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Login'});">Seller Login</a></li>
                        <li><a href="/umicrosite/vendor/register" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Sign Up'});">Seller Sign up</a></li>
                        <li><a href="/seller-handbook" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller Handbook'});">Seller Handbook</a></li>
                        <li><a href="/craftsvilla-seller-faq" onclick="dataLayer.push({'event':'FooterLinkAccessedEvent','eventName':'footerLinkAccessed','link':'Seller FAQs'});">Seller FAQs</a></li>
                    </ul>
                </section>
                <section class="col-xs-12 hidden-xs">
                    <ul class="footer-col col-xs-3">
                        <li><h1>SUPPORT</h1></li>
                        <li><span class="ln-hgt-15">For Help, send email to </span>
                            <a href="mailto:customercare@craftsvilla.com"><span class="rouge ln-hgt-15">customercare@craftsvilla.com</span></a>
                        </li>
                    </ul>

                    <ul class="footer-col col-xs-3">
                        <li><h1> PAYMENT OPTIONS</h1></li>
                        <li><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_1.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_2.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_3.png"></li>
                    </ul>

                    <ul class="footer-col col-xs-3">
                        <li><h1>STAY CONNECTED</h1></li>
                        <li>
                            <a href="http://www.facebook.com/craftsvilla" target="_blank"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png"></a>
                            <a href="https://twitter.com/craftsvilla" target="_blank"><img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png"></a>
                            <a href="https://plus.google.com/117677147285924975963" target="_blank"><img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png"></a>
                            <a href="https://www.pinterest.com/craftsvilla/" target="_blank">
                            <img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-col col-xs-3">
                        <li><h1>DOWNLOAD OUR APP</h1></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.craftsvilla.app&hl=en" target="_blank">
                                <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Googleplay.png">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <section class="m-t-10 beige-bg nopadding hidden-xs center-block subscribe-block">
                <div class="subscribe-cont">
                    <span>STAY CONNECTED</span>
                    <span class="p-l-5"> <input type="text"
                        title="subscribe"><input type="submit" title="subscribe-sub" value="Subscribe"></span>
                </div>
            </section>

            <section class="hidden-md hidden-lg write-us-cont">
                <p class="write-us" >If you can't find What you're looking for, write to us on <a href="" class="rouge">customercare@craftsvilla.com</a></p>
                    <div style="text-align:center; padding:10px 0; ">
                        <a href="http://www.facebook.com/craftsvilla" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png">
                        </a>
                        <a href="https://www.pinterest.com/craftsvilla/" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png">
                        </a>
                        <a href="https://twitter.com/craftsvilla" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png">
                        </a>
                        <a href="https://plus.google.com/117677147285924975963" target="_blank">
                            <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png">
                        </a>
                    </div>
            </section>
        </footer>
    </div>
</div>
