
<div data-overlay class="hide">&nbsp;</div>
<!--// Header -->
<div role-header class="container-fluid nopadding">
	<div role-nav class="container">
		<div class="col-xs-6 nopadding" role="logo">
			<img role="back" src="images/Shape.png" alt="" title="">
			<a href="#" title=""><img class="logo" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/cv_logo.png" alt="" title=""></a>
			<span class="hidden-xs">Call 022 288288281 for any assistance</span>
		</div>
		<div class="col-xs-6 nopadding buyerProtection">
			<ul>
				<li class="visible-xs">100% Buyer Protection<br>Secure Payments</li>
				<li class="hidden-xs">100% BUYER<br>PROTECTION</li>
				<li class="hidden-xs"><strong>SECURE</strong><br>PAYMENTS</li>
			</ul>
		</div>
	</div>
</div>
<!--// Header -->

<!--// Content -->

<div class="container-fluid nopadding">
	<div class="container">
		<!--// -->
		<div class="payment-error">
			<div class="container-fluid nopadding">
				<div class="error-massege">
					<h2><span><img src="images/payment-faliure.png" alt="Error" title="Error"></span> Payment Error</h2>
				</div>
				<p>We are sorry, payment could not be processed. Please try again. We reserved your items for your next few minutes and look forward to your recieving them soon.</p>
				<div class="col-xs-12 nopadding col-sm-5">
					<button class="btn retry-btn">RETRY</button>
				</div>
			</div>
		</div>
		<!--// -->
		<div class="col-xs-12 nopadding spacer">&nbsp;</div>
	</div>
</div>
<!--// Content -->

<!--// Footer -->
<div role="footer" class="container-fluid">
	<div class="container">
		<section class="col-xs-12 m-padding hidden-xs">
		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">SUPPORT</li>
		    <li><span class="ln-hgt-15">For Help, send email to </span>
		      <a href="mailto:customercare@craftsvilla.com"><span class="rouge ln-hgt-15">customercare@craftsvilla.com</span></a>
		    </li>
		  </ul>

		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader"> PAYMENT OPTIONS </li>
		    <li><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_1.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_2.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_3.png"></li>
		  </ul>

		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">STAY CONNECTED</li>
		    <li>
		      <a target="_blank" href="http://www.facebook.com/craftsvilla"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png"></a>
		      <a target="_blank" href="https://twitter.com/craftsvilla"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png" class="p-l-5"></a>
		      <a target="_blank" href="https://plus.google.com/117677147285924975963"><!-- <img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png"> --></a>
		      <a target="_blank" href="https://www.pinterest.com/craftsvilla/">
		        <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png" class="p-l-5">
		      </a>
		    </li>
		  </ul>
		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">DOWNLOAD OUR APP</li>
		    <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.craftsvilla.app&amp;hl=en">
		      <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Googleplay.png">
		      </a>
		    </li>
		  </ul>
		</section>
	</div>
</div>
<!--// Footer -->
<!--// Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>

</body>

</html>
