 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Payments</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.vertical-tabs.css">
</head>

<body>
<!--// Header -->
<div role-header class="container-fluid nopadding">
	<div role-nav class="container">
		<div class="col-xs-6 nopadding" role="logo">
			<img role="back" src="images/Shape.png" alt="" title="">
			<a href="#" title=""><img class="logo" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/cv_logo.png" alt="" title=""></a>
			<span class="hidden-xs">Call 022 288288281 for any assistance</span>
		</div>
		<div class="col-xs-6 nopadding buyerProtection">
			<ul>
				<li class="visible-xs">100% Buyer Protection<br>Secure Payments</li>
				<li class="hidden-xs">100% BUYER<br>PROTECTION</li>
				<li class="hidden-xs"><strong>SECURE</strong><br>PAYMENTS</li>
			</ul>
		</div>
	</div>
</div>
<!--// Header -->

<!--// Content -->
<div class="container-fluid nopadding">
	<div class="container">
		<!--// login Flow Start -->
		<div class="loginProcessContainer container-fluid">
			<div role="loginFlow" class="col-xs-12 nopadding">
				<div class="circleBox LoginIcon rougeBack">
					<span><img src="images/check.png" data-complete alt="" title=""></span>
					<span class="rougeColor">Login</span>
				</div>
				<div class="Progressliner Firstliner rougeBack"></div>
				<div class="circleBox ShippingIcon rougeBack">
					<span><img src="images/check.png" alt="" title=""></span>
					<span class="rougeColor">Shipping</span>
				</div>
				<div class="Progressliner Secoundliner rougeBack"></div>
				<div class="circleBox PaymentIcon rougeBack">
					<span><img src="images/payment-icon.png" alt="" title=""></span>
					<span class="rougeColor">Payment</span>
				</div>
			</div>
		</div>
		<!--// login Flow End -->
	</div>
</div>

<div class="container-fluid nopadding">
	<div class="container">
		<!--// -->
		<div class="row paymentContainer">
			<div class="col-xs-12">
				<h4 role="headding">CHOOSE PAYMENT METHOD</h4>
			</div>
			<div class="col-xs-12 youpay">
				<div class="col-xs-12 nopadding visible-xs">
					<div role="items" class="col-xs-12">
						<div class="col-xs-8 nopadding">
							<h5>You Pay <span><a href="#">Hide Details</a></span></h5>
						</div>
						<div class="col-xs-4 nopadding text-right"><span class="total-amount">&#8377; 3,240</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 pull-right item-details">
				<div class="col-xs-12 nopadding">
					<div role="items" class="col-xs-12">
						<div class="col-xs-8 nopadding">
							<h5>2 ITEMS <span><a href="#">View Details</a></span></h5>
						</div>
						<div class="col-xs-4 nopadding text-right"><span class="total-amount">&#8377; 3,240</span></div>
					</div>
					<!--// -->
					<div class="col-xs-12 items-list">
						<div class="media">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="http://dummyimage.com/100x100/dedede/0011ff" alt="" title="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Latest Designer Black And White Long Sleeve Straight Suit</h4>
								<p>Quantity: <span>1</span></p>
								<h4 class="items-price">&#8377; 1,800</h4>
							</div>
						</div>
					</div>
					<!--// -->
					<div class="col-xs-12 items-list">
						<div class="media">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="http://dummyimage.com/100x100/dedede/0011ff" alt="" title="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Latest Designer Black And White Long Sleeve Straight Suit</h4>
								<p>Quantity: <span>1</span></p>
								<h4 class="items-price">&#8377; 1,800</h4>
							</div>
						</div>
					</div>
					<!--// Shipping Details -->
					<div class="col-xs-12 items-list">
						<div class="col-xs-12 nopadding shipping-details">
							<h5>SHIPPING DETAILS</h5>
							<p>
								<span>Shruti Kartikey</span>
								<span class="normal">G-1502, Craftsvilla, Lotus Business Park, Goregaon East, Mumbai, Maharashtra - 400056</span>
								<span class="normal">+91 7738233261</span>
							</p>
						</div>
					</div>
					<!--// Shipping End -->
					<!--// Order Summary -->
					<div class="col-xs-12 order-summary">
						<div class="col-xs-12 nopadding border-bottom">
							<h5>ORDER SUMMARY</h5>
						</div>
						<div class="col-xs-12 nopadding border-bottom order-summary-details">
							<div class="col-xs-12 nopadding">
								<div class="col-xs-8 nopadding text-left">
									<p>Sub Total</p>
								</div>
								<div class="col-xs-4 nopadding text-right">
									<p>&#8377; 3,600</p>
								</div>
							</div>
							<div class="col-xs-12 nopadding">
								<div class="col-xs-8 nopadding text-left">
									<p>Coupon Applied (CRAFTSLOVE)</p>
								</div>
								<div class="col-xs-4 nopadding text-right">
									<p>- &#8377; 360</p>
								</div>
							</div>
							<div class="col-xs-12 nopadding">
								<div class="col-xs-8 nopadding text-left">
									<p>Shipping</p>
								</div>
								<div class="col-xs-4 nopadding text-right">
									<p>&#8377; 0</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 nopadding">
							<h5>Total Payable <span class="pull-right">&#8377; 3,240</span></h5>
						</div>
					</div>
				</div>
			</div>
			<!--// Desktop -->
			<div class="col-xs-12 col-sm-6 col-md-8 new-payment-method hidden-xs">
				<div class="col-xs-12 nopadding box-border">
					<div class="col-xs-12 col-sm-3 nopadding payment-list"> <!-- required for floating -->
					    <!-- Nav tabs -->
						<ul class="nav nav-tabs tabs-left">
							<li>
								<a ng-href="#cashondelivery" data-toggle="tab">Cash on Delivery</a>
								<div class="col-xs-12 cashondelivery hide">
									<p>Please keep a total of Rs 3240 to pay on delivery </p>
								</div>
							</li>
							<li><a href="#CreditCard" data-toggle="tab">Credit Card</a></li>
							<li><a href="#DebitCard" data-toggle="tab">Debit Card</a></li>
							<li class="active"><a href="#NetBanking" data-toggle="tab">Net Banking</a></li>
							<li><a href="#PayUmoney" data-toggle="tab">Pay U Money</a></li>
						</ul>
					</div>

					<!-- Tab panes -->
					<div class="tab-content col-xs-9 col-sm-9">
						<div class="tab-pane" id="cashondelivery">
							<div class="col-xs-12 cashondelivery">
								<h3>Pay Using Cash on Delivery</h3>
								<p>Please keep a total of Rs 3240 to pay on delivery </p>
								<div class="col-xs-12 col-sm-7 nopadding">
									<input type="button" value="PLACE ORDER" class="btn btn-newStyle bg-green">
								</div>
							</div>
						</div>
						<div class="tab-pane" id="CreditCard">
							<div class="col-xs-12 col-sm-8 creditcard">
								<div class="col-xs-12 nopadding">
									<fieldset class="form-group">
										<label>Credit Card Number</label>
										<input type="text" placeholder="Credit Card Number" class="form-control">
									</fieldset>
								</div>
								<div class="col-xs-12 nopadding">
									<fieldset class="form-group">
										<label>Name on Card</label>
										<input type="text" placeholder="Name on Card" class="form-control">
									</fieldset>
								</div>
								<div class="col-xs-12 nopadding">
									<div class="col-xs-7 valid-upto">
										<fieldset class="form-group">
											<label>Valid Upto</label>
											<input type="text" placeholder="MM" maxlength="2" class="form-control pull-left">
											<span role="division">/</span>
											<input type="text" placeholder="YY" maxlength="4" class="form-control pull-right">
										</fieldset>
									</div>
									<div class="col-xs-5 cvv-code">
										<fieldset class="form-group">
											<label>CVV Code</label>
											<input maxlength="3" type="text" class="form-control">
										</fieldset>
									</div>
								</div>
								<div class="col-xs-12 nopadding">
									<a class="btn btn-newStyle bg-green" href="#">PAY <span><i>&#x20B9;</i>3240</span> SECURELY</a>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="DebitCard">Debit Card</div>
						<div class="tab-pane active" id="NetBanking">
							<div class="col-xs-12 NetBanking">
								<ul role="nasted-list">
									<li>
										<input id="icici" type="radio" name="gender" value="male" checked>
										<label for="icici"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
									<li>
										<input id="axis" type="radio" name="gender" value="male" checked>
										<label for="axis"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
									<li>
										<input id="sbi" type="radio" name="gender" value="male" checked>
										<label for="sbi"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
									<li>
										<input id="hdfc" type="radio" name="gender" value="male" checked>
										<label for="hdfc"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
									<li>
										<input id="city" type="radio" name="gender" value="male" checked>
										<label for="city"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
									<li>
										<input id="idbi" type="radio" name="gender" value="male" checked>
										<label for="idbi"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
									</li>
								</ul>
								<div class="col-xs-12 nopadding">
									<span class="pull-left or">OR</span>
									<div class="select-style">
										<select>
											<option value="volvo">Volvo</option>
											<option value="saab">Saab</option>
											<option value="mercedes">Mercedes</option>
											<option value="audi">Audi</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 nopadding">
									<a class="btn btn-newStyle bg-green" href="#">PAY <span><i>&#x20B9;</i>3240</span> SECURELY</a>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="PayUmoney">Pay U Money</div>
					</div>
				</div>
			</div>
			<!--// Mobile -->
			<div class="row">
				<div class="col-xs-12 col-sm-6 new-payment-method visible-xs">
					<div class="col-xs-12">
						<h4 role="headding">CHOOSE PAYMENT METHOD</h4>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-12 nopadding payment-list"> <!-- required for floating -->
						    <!-- Nav tabs -->
							<ul data-payment-mobile class="nav nav-tabs tabs-left">
								<li class="active">
									<a class="m-tab" href="#">Cash on Delivery</a>
									<div class="col-xs-12 cashondelivery">
										<p>Please keep a total of Rs 3240 to pay on delivery </p>
									</div>
								</li>
								<li>
									<a href="#">Credit Card</a>
									<div class="col-xs-12 creditcard">
										<div class="col-xs-12 nopadding">
											<fieldset class="form-group">
												<label>Credit Card Number</label>
												<input type="text" placeholder="Credit Card Number" class="form-control">
											</fieldset>
										</div>
										<div class="col-xs-12 nopadding">
											<fieldset class="form-group">
												<label>Name on Card</label>
												<input type="text" placeholder="Name on Card" class="form-control">
											</fieldset>
										</div>
										<div class="col-xs-12 nopadding">
											<div class="col-xs-12 valid-upto">
												<fieldset class="form-group">
													<label>Valid Upto</label>
													<input type="text" placeholder="MM" maxlength="2" class="form-control pull-left">
													<span role="division">/</span>
													<input type="text" placeholder="YY" maxlength="4" class="form-control pull-right">
												</fieldset>
											</div>
											<div class="col-xs-12 cvv-code">
												<fieldset class="form-group">
													<label>CVV Code</label>
													<input maxlength="3" type="text" class="form-control">
												</fieldset>
											</div>
										</div>
									</div>
								</li>
								<li>
									<a href="#">Debit Card</a>
									<div class="col-xs-12 NetBanking">
										<ul role="nasted-list">
											<li>
												<input id="icici1" type="radio" name="gender" value="male" checked>
												<label for="icici1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="axis1" type="radio" name="gender" value="male" checked>
												<label for="axis1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="sbi1" type="radio" name="gender" value="male" checked>
												<label for="sbi1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="hdfc1" type="radio" name="gender" value="male" checked>
												<label for="hdfc1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="city1" type="radio" name="gender" value="male" checked>
												<label for="city1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="idbi1" type="radio" name="gender" value="male" checked>
												<label for="idbi1"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a href="#">Net Banking</a>
									<div class="col-xs-12 NetBanking">
										<ul role="nasted-list">
											<li>
												<input id="icici2" type="radio" name="gender" value="male" checked>
												<label for="icici2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="axis2" type="radio" name="gender" value="male" checked>
												<label for="axis2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="sbi2" type="radio" name="gender" value="male" checked>
												<label for="sbi2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="hdfc2" type="radio" name="gender" value="male" checked>
												<label for="hdfc2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="city2" type="radio" name="gender" value="male" checked>
												<label for="city2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
											<li>
												<input id="idbi2" type="radio" name="gender" value="male" checked>
												<label for="idbi2"><span></span><span><img src="images/Bitmap.png" title="" alt=""></span></label>
											</li>
										</ul>
										<div class="col-xs-12 nopadding">
											<span class="pull-left or">OR</span>
											<div class="select-style">
												<select>
													<option value="volvo">Volvo</option>
													<option value="saab">Saab</option>
													<option value="mercedes">Mercedes</option>
													<option value="audi">Audi</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<li><a href="#">Pay U Money</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 nopadding visible-xs fixed-button">
				<input type="button" value="PLACE ORDER" class="btn btn-newStyle bg-green">
			</div>
			<!--// -->
		</div>
		<!--// -->
		<div class="col-xs-12 nopadding spacer">&nbsp;</div>
		<!--// -->
		<div class="col-xs-12 nopadding payments-facilities text-center">
			<div class="row visible-xs">
				<div class="col-xs-12 nopadding">
					<div class="col-xs-12 nopadding buyerProtection visible-xs">
						<a href="#">
							<span><img src="images/bitmap.png" alt="" title=""></span>
							<strong>100%</strong> Buyer Protection
						</a>
					</div>
				</div>
			</div>
			<ul>
				<li><img src="images/verified-by-visa.png" alt="" title=""></li>
				<li><img src="images/visa-mastercard.png" alt="" title=""></li>
				<li><img src="images/footer.png" alt="" title=""></li>
			</ul>
		</div>
		<!--// -->
	</div>
</div>
<!--// Content -->

<!--// Footer -->
<div role="footer" class="container-fluid hidden-xs">
	<div class="container">
		<section class="col-xs-12 m-padding hidden-xs">
		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">SUPPORT</li>
		    <li><span class="ln-hgt-15">For Help, send email to </span>
		      <a href="mailto:customercare@craftsvilla.com"><span class="rouge ln-hgt-15">customercare@craftsvilla.com</span></a>
		    </li>
		  </ul>

		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader"> PAYMENT OPTIONS </li>
		    <li><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_1.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_2.png"> <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Visa_3.png"></li>
		  </ul>

		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">STAY CONNECTED</li>
		    <li>
		      <a target="_blank" href="http://www.facebook.com/craftsvilla"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/FB.png"></a>
		      <a target="_blank" href="https://twitter.com/craftsvilla"><img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Twitter.png" class="p-l-5"></a>
		      <a target="_blank" href="https://plus.google.com/117677147285924975963"><!-- <img class="p-l-5" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/g-plus.png"> --></a>
		      <a target="_blank" href="https://www.pinterest.com/craftsvilla/">
		        <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/pin.png" class="p-l-5">
		      </a>
		    </li>
		  </ul>
		  <ul class="footer-col col-xs-12 col-sm-3 m-padding">
		    <li class="FooterHeader">DOWNLOAD OUR APP</li>
		    <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.craftsvilla.app&amp;hl=en">
		      <img src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/Googleplay.png">
		      </a>
		    </li>
		  </ul>
		</section>
	</div>
</div>
<!--// Footer -->
<!--// Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>

</body>

</html>
