
<div data-overlay class="hide">&nbsp;</div>
<!--// Header -->
<div role-header class="container-fluid nopadding">
	<div role-nav class="container">
		<div class="col-xs-6 nopadding" role="logo">
			<img role="back" src="images/Shape.png" alt="" title="" ng-click="goBack()">
			<a href="/" target="_self" title=""><img class="logo" src="/images/cv_logo.svg" alt="" title=""></a>
			<span class="hidden-xs">Call 022 61579090 for any assistance</span>
		</div>
		<div class="col-xs-6 nopadding buyerProtection">
			<ul>
				<li class="visible-xs">100% Buyer Protection<br>Secure Payments</li>
				<li class="hidden-xs">100% BUYER<br>PROTECTION</li>
				<li class="hidden-xs"><strong>SECURE</strong><br>PAYMENTS</li>
			</ul>
		</div>
	</div>
</div>
<!--// Header -->

<!--// Content -->

<div class="container-fluid nopadding">
	<div class="container">
		<!--// -->
		<div class="payment-error">
			<div class="container-fluid nopadding">
				<div class="error-massege">
					<h2><span><img src="images/payment-faliure.png" alt="Error" title="Error"></span> Payment Error</h2>
				</div>
				<p>We are sorry, payment could not be processed. Please try again. We reserved your items for your next few minutes and look forward to your recieving them soon.</p>
				<div class="col-xs-12 nopadding col-sm-5">
					<button class="btn retry-btn" ui-sref="payment({platform: 'web'})">RETRY</button>
				</div>
			</div>
		</div>
		<!--// -->
		<div class="col-xs-12 nopadding spacer">&nbsp;</div>
	</div>
</div>
<!--// Content -->
<script type="text/javascript">_satellite.pageBottom();</script>
<script type="text/javascript">
if(typeof _satellite != "undefined") {
	 digitalData.page={
          pageInfo:{
            pageName:"payment error",
          },
          category:{
            pageType:"payment",
            primaryCategory: "payment error",
          },
          device:{
            deviceType:isMobile
          },
          currencycode:{
            currencyCode : 'INR',
          },
        }
    }
</script>
