<div class="container">
    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product"
     class="col-xs-6 col-md-3 product mob_padding" ng-repeat="product in products">

    <div class="product-image-container">
        <a href="/cart">
            <img itemprop="image"
                 src="http://img1.craftsvilla.com/thumb/500x500/C/V/CV-MKATA48233802450--KATARIA_SILK_HOUSE_PVT_LTD-Craftsvilla_1.jpg" class="product-image lazy">
        </a>
    </div>
    <div class="product-details-container col-xs-12">
        <a itemprop="url" href="/cart">
            <div class="product-name" itemprop="name">Mimosa Silk Saree (r...</div>
        </a>

        <a href="/Mimosa" title="Kataria Silk House Pvt Ltd" target="_blank">
            <div class="vendor-name">By Kataria Silk House</div>
        </a>

        <div class="price-container col-xs-12 nopadding" itemprop="offers" itemscope=""
             itemtype="http://schema.org/Offer">
            <div class="col-xs-6 col-md-8 nopadding">
                <div class="col-xs-12 col-md-6 original-price price nopadding visible-xs"><s><span itemprop="price"> 4256</span></s>
                </div>
                <div class="col-xs-12 col-md-6 discounted-price price nopadding">
                    Rs 2,149
                </div>
                <div class="col-xs-6 col-md-6 original-price price nopadding hidden-xs"><s> <span
                        itemprop="price">4256</span></s></div>
            </div>
            <div class="col-xs-6 col-md-4 save-percent nopadding">
                Save 50%
            </div>
        </div>
    </div>
    <div class="wishit">
        <div class="wishitIcon"><i class="icon-small icon-v2 icon-wish" id="wishicon-3150468"></i></div>
        <div class="wishitText hidden-xs" id="wished-3150468">Wished</div>
    </div>
</div>
</div>