<div data-overlay class="hide">&nbsp;</div>
<!--// Header -->
<div ng-app="validApp">
<div role-header class="container-fluid nopadding">
	<div role-nav class="container">
		<div class="col-xs-6 nopadding" role="logo">
			<img role="back" src="images/Shape.png" alt="" title="">
			<a href="#" title=""><img class="logo" src="http://lstatic1.craftsvilla.com/skin/frontend/default/craftsvilla2015//img/cv_logo.png" alt="" title=""></a>
			<span class="hidden-xs">Call 022 288288281 for any assistance</span>
		</div>
		<div class="col-xs-6 nopadding buyerProtection">
			<ul>
				<li class="visible-xs">100% Buyer Protection<br>Secure Payments</li>
				<li class="hidden-xs">100% BUYER<br>PROTECTION</li>
				<li class="hidden-xs"><strong>SECURE</strong><br>PAYMENTS</li>
			</ul>
		</div>
	</div>
</div>
<!--// Header -->

<!--// Content -->
<div class="container-fluid nopadding">
	<div class="container">
		<!--// login Flow Start -->
		<div class="loginProcessContainer container-fluid">
			<div role="loginFlow" class="col-xs-12 nopadding">
				<div class="circleBox LoginIcon rougeBack">
					<span><img src="images/check.png" data-complete alt="" title=""></span>
					<span class="rougeColor">Login</span>
				</div>
				<div class="Progressliner Firstliner rougeBack"></div>
				<div class="circleBox ShippingIcon rougeBack">
					<span><img src="images/Shipping-icon.png" alt="" title=""></span>
					<span class="rougeColor">Shipping</span>
				</div>
				<div class="Progressliner Secoundliner white-nine"></div>
				<div class="circleBox PaymentIcon white-nine">
					<span><img src="images/payment-icon.png" alt="" title=""></span>
					<span class="warm-greyColor">Payment</span>
				</div>
			</div>
		</div>
		<!--// login Flow End -->
	</div>
</div>

<div class="container-fluid nopadding">
	<div class="container">
		<!--// login Container Start -->
		<div class="col-xs-12 nopadding shippingContainer">
			<h4 role="headding">SELECT SHIPPING ADDRESS <small><a class="rougeColor" href="#" ng-show="showhideprop">Change</a></small></h4>
			<!--// -->

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="address in addresses">
					<div class="col-xs-12 addressCard ">
						<div class="col-xs-12 nopadding customer-address">
							<div class="col-xs-12 nopadding">
								<h5>{{address.firstname}} {{address.lastname}}<span></span><span class="pull-right delete-shipping"><a href="javascript:void(0)" ng-click="shippingEdit(address);"><img src="images/edit-icon.png"></a></span></h5>
								<p>{{address.street}}</p>
								<p class="margin0">{{address.telephone}}</p>
							</div> 
						</div>
						<!-- <div class="col-xs-12 nopadding hidden-xs">
							<input class="btn btn-newStyle" ng-show="shippadd" type="button"  ng-click="deliveryAddress(address)" value="DELIVER TO THIS ADDRESS">
						</div> -->
					</div>
					
				</div>
				<div class="checkbox col-xs-12 nopadding" ng-show="shippadd">
						<label><input type="checkbox" id="Guest"  ng-model="chkStatus" ng-change="checkStatus()" checked><span for="Guest"></span> This is also my Billing Address --AAAAA</label>
					</div>
					<div class="col-xs-12 nopadding">
					<div class="col-xs-12 nopadding hidden-xs">
							<input class="btn btn-newStyle" type="button" value="DELIVER TO THIS ADDRESS" style="width:30%;">
						</div>
					</div>

<div ng-hide="billingAddress" >
				<div class="col-xs-12"><h4 role="headding">SELECT BILLING ADDRESS</h4></div>
				<!--// Billing Address Not select Error -->
				
				<!--// -->
				<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="address in addresses">
					<div class="col-xs-12 addressCard" ng-show="shippadd">
						<div class="col-xs-12 nopadding customer-address">
							<div class="col-xs-12 nopadding">
								<h5>{{address.firstname}} {{address.lastname}}<span></span><span class="pull-right delete-shipping"><a href="javascript:void(0)" ng-click="shippingEdit();"><img src="images/edit-icon.png"></a></span></h5>
								<p>{{address.street}}</p>
								<p class="margin0">{{address.telephone}}</p>
							</div>
						</div>
						<!-- <div class="col-xs-12 nopadding hidden-xs">
							<input class="btn btn-newStyle" type="button" value="DELIVER TO THIS ADDRESS">
						</div> -->
					</div>
				</div>
			
			</div>
			

				<!--// Edit Shipping Address Start -->
				<div class="col-xs-12 add-new-shipping" ng-hide="true">
					<!--// -->
					<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-12 new-address">
								<div class="col-xs-12 col-sm-6 nopadding">
									
									<!---1st edit form-->	
									<form role="form" name="editaddrForm" ng-submit="editsubmitForm();" novalidate>
										<h4 role="headding">
											<a href="#new-address">Edit Address </a>
										</h4>
										<div class="form-group nopadding col-sm-8 col-xs-12" ng-class="{ 'error' : editaddrForm.country.$invalid && !editaddrForm.country.$pristine }">
											<label>Country: <span role="country">India</span> <a href="#change-country">Change</a></label>
											<div class="select-style">
												<select id="change-country" name="country" ng-model="editaddr.country" ng-option=" item as item in country " required>
													
												</select>
												<span ng-show="editaddrForm.country.$invaild">Please Select Country</span>
											</div>
										</div>
										 <!-- USERNAME -->
       
										<div class="form-group nopadding col-sm-8 col-xs-12"  ng-class="{ 'error' : editaddrForm.username.$invalid && !editaddrForm.username.$pristine }">
											<label for="name">Name</label>
											<input id="name" name="username" type="text" class="form-control" placeholder="Enter Full Name" ng-model="editaddr.username"  ng-minlength="2" >
											 <span ng-show="editaddrForm.username.$error.minlength" class="error">Name is too short.</span>
										</div>


										<div class="form-group nopadding col-xs-12" ng-class="{ 'error' : editaddrForm.address.$invalid && !editaddrForm.address.$pristine }">
											<label for="Address">Address</label>
											<textarea id="Address" name="address" class="form-control" ng-minlength="10" mg-model="editaddr.address" required ></textarea>
            <span ng-show="editaddrForm.address.$error.minlength" class="error">Address is too short.</span>
										</div>




										<div class="col-xs-12 col-sm-4 nopadding">

											<div class="form-group"  ng-class="{ 'error' : editaddrForm.pincode.$invalid && !editaddrForm.pincode.$pristine }">
												<label for="Pincode">Pincode</label>
												<input id="Pincode" name="pincode" type="text" class="form-control" placeholder="Pincode" ng-minlength="4" ng-model="editaddr.pincode" ng-maxlength="7" >
												 <span ng-show="editaddrForm.pincode.$error.minlength" class="error">Pincode is too short.</span>
												 <span ng-show="editaddrForm.pincode.$error.maxlength" class="error">Username is too long.</span>
											</div>

										</div>



										<div class="col-xs-12 col-sm-7 m-padding">
											<div class="form-group">
												<label for="City">City</label>
												<div class="select-style">
													<select id="City">
														<option value="volvo">Select City</option>
														<option value="saab">Saab</option>
														<option value="mercedes">Mercedes</option>
														<option value="audi">Audi</option>
													</select>
												</div>
											</div>
										</div>


										<div class="form-group col-xs-12 nopadding">
											<label for="State">State</label>
											<div id="State" class="select-style">
												<select id="City">
													<option value="volvo">Select State</option>
													<option value="saab">Saab</option>
													<option value="mercedes">Mercedes</option>
													<option value="audi">Audi</option>
												</select>
											</div>
										</div>



										<div class="form-group col-sm-8 col-xs-12 nopadding" ng-class="{ 'error' : editaddrForm.username.$invalid && !editaddrForm.username.$pristine }">
											<label for="Number">Phone Number</label>
											<div class="input-group">
												<div class="input-group-addon">+91</div>
												<input type="text" name="phonenumber" class="form-control" id="Number" placeholder="Phone Number" ng-model="editaddr.phonenumber" ng-minlength="10">
												
											</div>
											<span ng-show="editaddrForm.phonenumber.$error.minlength" class="error">Phone Number is too short.</span>
											<span ng-show="editaddrForm.pincode.$error.maxlength" class="error">phone number is too long .</span>
										</div>
										<div class="form-group col-xs-12 nopadding">
											<button type="submit" class="btn btn-default outline-btn" >SAVE</button>
											<button type="submit" class="btn btn-default outline-btn" >CANCEL</button>
										</div>
									</form>
									<!---/ 1st edit form-->	
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--// Edit Shipping Address End -->
				<!--// Desktop Edit Shipping Address Start destop popup -->
				<div class="addressEditContainer " ng-hide="editAddPOP"><!--hide-->
					
					<span role="close" ng-click="formclose()"><a href="#"><img src="images/delete-icon.png" alt="" title=""></a></span>
					<div class="col-xs-12 new-address">
						<div class="col-xs-12 nopadding">
						<!---2st edit form -->	
							<form role="form" name="DeditAddress" ng-submit="DeditsubmitForm();" novalidate> 
								<h4 role="headding">
									<a href="#new-address">Edit Address</a>
								</h4>
								<div class="form-group nopadding col-sm-8 col-xs-12">
									<label>Country: <span role="country">India</span> <a href="#change-country">Change</a></label>
									<div class="select-style">
										<select id="change-country" mg-model="editAddr.country" ng-model="Dedit.country">
											<option value="0">Select Country</option>
											<option value="1">India</option>
											<option value="2">US</option>
											<option value="3">UK</option>
											<option value="4">Dubai</option>
										</select>
									</div>
								</div>

								  
								<div class="form-group nopadding col-sm-8 col-xs-12" ng-class="{ 'error' : DeditAddress.fullname.$invalid && !DeditAddress.fullname.$pristine }">
									<label for="name">Name</label>
									<input id="name" name="fullname" type="text" class="form-control" placeholder="Enter Full Name" ng-model="editAddr.firstname" ng-minlength="2" >
									<span ng-show="DeditAddress.fullname.$error.minlength" class="error">FullName is too short.</span>
								</div>
								<div class="form-group nopadding col-sm-8 col-xs-12" ng-class="{ 'error' : DeditAddress.lastname.$invalid && !DeditAddress.lastname.$pristine }">
									<label for="name">Last Name</label>
									<input id="name" name="lastname" type="text" class="form-control" placeholder="Enter Full Name" ng-model="editAddr.lastname" ng-minlength="2" >
									<span ng-show="DeditAddress.lastname.$error.minlength" class="error">FullName is too short.</span>
								</div>


								<div class="form-group nopadding col-xs-12" ng-class="{ 'error' : DeditAddress.address.$invalid && !DeditAddress.address.$pristine }">
									<label for="Address">Address</label>
									<textarea id="Address" name="address" class="form-control" ng-minlength="10" ng-model="editAddr.street"></textarea>
									<span ng-show="DeditAddress.address.$error.minlength" class="error">Address is too short.</span>
								</div>


								<div class="col-xs-12 col-sm-4 nopadding" >
									<div class="form-group" ng-class="{ 'error' : DeditAddress.pincode.$invalid && !DeditAddress.pincode.$pristine }">
										<label for="Pincode">Pincode</label>
										<input id="Pincode" name="pincode" type="text" class="form-control" placeholder="Pincode" ng-minlength="4" ng-model="editAddr.postcode" ng-maxlength="7" >
										 <span ng-show="DeditAddress.pincode.$error.minlength" class="error">Pincode is too short.</span>
										 <span ng-show="DeditAddress.pincode.$error.maxlength" class="error">pincode is too long.</span>
									</div>
								</div>

								<div class="col-xs-12 col-sm-7 m-padding">
									<div class="form-group" ng-class="{ 'error' : DeditAddress.city.$invalid && !DeditAddress.city.$pristine }">
										<label for="City">City</label>
										<div class="select-style" >
											<select name="city" ng-model="editAddr.city" ng-option="" requried>
												<option value="0">Select City</option>
												<option value="1">India</option>
												<option value="2">US</option>
												<option value="3">UK</option>
												<option value="4">Dubai</option>
											</select>
											 <span ng-show="DeditAddress.city.$error.minlength" class="error">Please Select </span>
										</div>
									</div>
								</div>


								<div class="form-group col-xs-12 nopadding" ng-class="{ 'error' : DeditAddress.state.$invalid && !DeditAddress.state.$pristine }">
									<label for="State">State</label>
										<div class="select-style">
											<select name="state" ng-model="editAddr.region" ng-option="" requried>
												<option value="0">Select State</option>
												<option value="1">India</option>
												<option value="2">US</option>
												<option value="3">UK</option>
												<option value="4">Dubai</option>
											</select>
											<span ng-show="DeditAddress.state.$error.minlength" class="error">Please Select State </span>
										</div>
								</div>

								<div class="form-group col-sm-8 col-xs-12 nopadding" ng-class="{ 'error' : DeditAddress.telephone.$invalid && !DeditAddress.telephone.$pristine }">
											<label for="Number">Phone Number</label>
											<div class="input-group">
												<div class="input-group-addon">+91</div>
												<input type="text" name="telephone" class="form-control" id="Number" placeholder="Phone Number" ng-model="editAddr.telephone" ng-minlength="10">
												
											</div>
											<span ng-show="DeditAddress.telephone.$error.minlength" class="error">Phone Number is too short.</span>
											<span ng-show="DeditAddress.telephone.$error.maxlength" class="error">phone number is too long .</span>
										</div>
								<div class="form-group col-xs-12 nopadding">
									<button type="submit" class="btn btn-default outline-btn" >SAVE</button>
											<button type="submit" class="btn btn-default outline-btn" >CANCEL</button>
								</div>
							</form>
							<!---/2st edit form-->	
						</div>
					</div>
				</div>
				<!--// Desktop Edit Shipping Address End -->
				<!--// Select Billing Address -->

					

			</div>
		</div>
		<!--// -->
		<!--// -->
		<div class="col-xs-12 nopadding add-new-shipping">
			<h4 class="M-add-new-address" role="headding">
				<a href="#new-address">ADD NEW ADDRESS<span><img src="images/Shape.png" title="" alt=""></span></a>
			</h4>
			<!--// -->
			<div class="row">
				<div class="col-xs-12">
					<div class="col-xs-12 new-address">
						<div class="col-xs-12 col-sm-7 nopadding">
						<!---3st edit form-->	
						<form role="form" name="addnewForm" ng-submit="addnewsubmit();" novalidate>
								<div class="form-group nopadding col-sm-8 col-xs-12" ng-class="{ 'error' : addnewForm.state.$invalid && !addnewForm.state.$pristine }">
									<label>Country: <span role="country">India</span> <a href="#change-country">Change</a></label>
									<div class="select-style" >
										<select ng-model="addnew.state" name="state" required ng-options="v.name for v in states track by v.id">
										<option selected value=""> Select State</option>
										</select>
								</div>
								<span ng-show="addnewForm.state.$error.minlength" class="error">Username is too short.</span>
								<span class="error" ng-show="addnewForm.$submitted && addnewForm.state.$error.required">Please Select State</span>
								
									</div>


								

								<div class="form-group nopadding col-sm-8 col-xs-12" ng-class="{ 'error' : (addnewForm.fullname.$invalid && !addnewForm.fullname.$pristine) || (addnewForm.$submitted && addnewForm.fullname.$error.required) }">
									<label for="name">Name</label>
									<input id="name" name ="fullname" type="text" class="form-control" placeholder="Enter Full Name" ng-model="addNew.fullname" ng-minlength="2"  required>
									 <span ng-show="addnewForm.fullname.$error.minlength" class="error">Username is too short.</span>
									  <div ng-show="addnewForm.$submitted || addnewForm.fullname.$touched">
             <span ng-show="addnewForm.fullname.$error.required" class="error">Tell us your name.</span>
             </div>
								</div>


								<div class="form-group nopadding col-xs-12" ng-class="{ 'error' : (addnewForm.address.$invalid && !addnewForm.address.$pristine) || (addnewForm.$submitted && addnewForm.address.$error.required) }">
									<label for="Address">Address</label>
									<textarea id="Address" name="address" ng-model="addNew.address" class="form-control" ng-minlength="10" required></textarea>
									<span ng-show="addnewForm.address.$error.minlength" class="error">Address is too short.</span>
									<div ng-show="addnewForm.$submitted || addnewForm.address.$touched">
             <span ng-show="addnewForm.address.$error.required" class="error">Tell us your Address.</span>
             </div>

								</div>
								<div class="col-xs-12 col-sm-4 nopadding" ng-class="{ 'error' : (addnewForm.pincode.$invalid && !addnewForm.pincode.$pristine) || (addnewForm.$submitted && addnewForm.pincode.$error.required) }">
									<div class="form-group">
										<label for="Pincode">Pincode</label>
										<input id="Pincode" name="pincode" type="number" class="form-control" placeholder="Pincode"  ng-minlength="4" ng-maxlength="9" ng-model="addnew.pincode" required>
										<span ng-show="addnewForm.pincode.$error.minlength" class="error">Pincode is too short.</span>
										<span ng-show="addnewForm.pincode.$error.maxlength" class="error">phone number is too long .</span>
										<div ng-show="addnewForm.$submitted || addnewForm.pincode.$touched">
             <span ng-show="addnewForm.pincode.$error.required" class="error">Tell us your Pincode.</span>
             </div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-7 m-padding">
									<div class="form-group">
										<label for="City">City</label>
										<div class="select-style">
											<select ng-model="addnew.city" name="city"  required ng-options="v.name for v in city track by v.id">
												<option selected value="">Select City</option>
												
											</select>
										</div>

								<span class="error" ng-show="addnewForm.$submitted && addnewForm.city.$error.required">Please Select State</span>
									</div>
								</div>
								<div class="form-group nopadding col-xs-12">
									<label for="State">State</label>
										<div class="select-style">
											<select ng-model="addnew.state" name="state" required ng-options="v.name for v in states track by v.id">
										<option selected value=""> Select State</option>
										</select>
										</div>
										<span ng-show="addnewForm.state.$error.minlength" class="error">Username is too short.</span>
								<span class="error" ng-show="addnewForm.$submitted && addnewForm.state.$error.required">Please Select State</span>
								
								</div>
								<div class="form-group col-sm-8 col-xs-12 nopadding" ng-class="{ 'error' : (addnewForm.phonenumber.$invalid && !addnewForm.phonenumber.$pristine) || (addnewForm.$submitted && addnewForm.phonenumber.$error.required) }">
											<label for="Number">Phone Number</label>
											<div class="input-group"> 
												<div class="input-group-addon">+91</div>
												<input type="number" name="phonenumber" class="form-control" id="Number" placeholder="Phone Number" ng-model="addnew.phonenumber" ng-minlength="10" ng-maxlength="10" ng-required="true">
												
											</div>
			<span class="error" ng-show="addnewForm.phone.$error.required || addnewForm.phone.$error.number">Valid phone number is required</span>
            <span class="error" ng-show="((addnewForm.phonenumber.$error.minlength || addnewForm.phonenumber.$error.maxlength) && addnewForm.phonenumber.$dirty) ">phone number should be 10 digits</span>
											<div ng-show="addnewForm.$submitted || addnewForm.phonenumber.$touched">
             <span ng-show="addnewForm.phonenumber.$error.required" class="error">Valid phone number is required</span>
             </div>
										</div>
								
								<div class="form-group nopadding col-xs-12">
							<!-- <input class="btn btn-newStyle btn-newStyleActive Width60" type="button" value="SAVE & CONTINUE"> -->
							<button type="submit" class="btn btn-newStyle btn-newStyleActive Width60" > SAVE & CONTINUE</button>

						</div>

						<div class="form-group nopadding col-xs-12">
									<div class="checkbox col-xs-12 nopadding margin0">
										<label><input type="checkbox" id="Guest" ng-model="chkbill" ng-change="checkBilling()" checked><span for="Guest"></span> This is also my Billing Address</label>
									</div>

								</div>
							</form>
							<!---4st edit form-->	
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!--// Button Mobile Start -->
		<div class="BtnContainer col-xs-12 nopadding visible-xs">
			<a class="btn newBtn" href="#">PROCEED TO PAYMENT <span><img src="images/Checkout-CTA-icon.png" title="" alt=""></span></a>
		</div>
		<!--// Button Mobile End -->
		<!--// login Container End -->
		<div class="col-xs-12 nopadding spacer">&nbsp;</div>
	</div>
</div>
</div>
<div data-overlay  ng-hide="editAddPOP">&nbsp;</div>